[2014-10-24 16:35] jkaberg opened #1 "AttributeError: no such child: mountPoints"
Getting following error while doing a ls command on my mounted root dir

Any thoughts? :-)

[2014-10-31 14:10] idarlund opened #2 "jottafuse ImportError: cannot import name FUSE"
jottalib is installed with setup.py on Fedora 20

[user@server jottafs-jottalib]$ uname -ra
Linux server.local 3.16.6-200.fc20.x86_64 #1 SMP Wed Oct 15 13:06:51 UTC 2014 x86_64 x86_64 x86_64 GNU/Linux
[user@server jottafs-jottalib]$ sudo pip install fusepy
Requirement already satisfied (use --upgrade to upgrade): fusepy in /usr/lib/python2.7/site-packages
Cleaning up...
[user@server jottafs-jottal

[2014-11-03 19:41] #1 closed, assigned to havardgulldahl

[2014-11-20 17:08] rkarlsba opened #3 "Caching issues?"
Hi

Thanks for the work so far. I've run into some issues, perhaps due to caching somewhere (jottalib? fuse? no idea). To reproduce, mount and cd into Archive, run "mkdir somedir, ls -l (it's not there), cd somedir (works), cd .., ls -l (still not there) etc. Ran into some issues with rmdir only (partly?) working as well. See http://karlsbakk.net/tmp/jottatest.txt.gz for a log. Remounting the jott

[2014-11-20 17:26] rkarlsba opened #4 "New SSL connection per file operation?"
Hi

From the debug logs, it seems jottafs opens a new SSL connection per file. Could it be possible to change this to using keepalives? It's not very efficient to do this the current way.

roy

[2014-11-20 17:38] rkarlsba opened #5 "jottafs gives error when renaming: Read-only filesystem"
roy@mia:~$ dd if=/dev/zero of=testfs bs=1M count=3k
roy@mia:~$ cd jottaroot/Jotta/Archive
roy@mia:~/jottaroot/Jotta/Archive$ mkdir test
roy@mia:~/jottaroot/Jotta/Archive$ cd test
roy@mia:~/jottaroot/Jotta/Archive/test$ rsync -avP /data/home/roy/testfs .
sending incremental file list
testfs
       32768   0%    0.00kB/s    0:00:00
rsync: writefd_unbuffered failed to write 4 bytes to socket [sender]

[2014-11-20 20:20] #4 closed, assigned to havardgulldahl

[2014-11-21 12:03] rkarlsba opened #6 "Crash during copy"
make a large file and copy it

$ dd if=/dev/zero of=testfs bs=1M count=3k
$ mkfs -f -t ext4 testfs

mount jotta on ~/jottaroot and

$ cp testfs jottaroot/Jotta/Sync/
cp: writing `jottaroot/Jotta/Sync/testfs': Bad address
cp: failed to extend`jottaroot/Jotta/Sync/testfs': Bad address

Debug below

$ ./bin/jottamount.sh
DEBUG:root:getting url: https://www.jotta.no/jfs/roy@karlsbakk.net
INFO:requests

[2014-11-21 21:56] #2 closed, assigned to havardgulldahl

[2014-11-21 21:58] #6 closed, assigned to nobody

[2014-11-24 16:46] rkarlsba opened #7 "Another crash after upgrading to latest from git"
$ git pull
$ sudo pip install -r requirements.txt
$ ~/bin/jottamount.sh
...

In another terminal,

roy@mia:~$ cd jottaroot/
roy@mia:~/jottaroot$ ls
ls: reading directory .: Bad address

Debug output below

DEBUG:root:getting url: https://www.jotta.no/jfs/roy@karlsbakk.net
INFO:requests.packages.urllib3.connectionpool:Starting new HTTPS connection (1): www.jotta.no
DEBUG:requests.packages.urllib3.c

[2014-11-24 18:32] rkarlsba opened #8 "Uploads/sync very slow"
Hi

Seems the upload speed with jottalib is a wee bit slower than I hoped it would be. Perhaps 600 kB transferred in an hour. CPU load is low and bandwidth is good (75Mbps, this time from a linux box on cable). Something slightly wrong here? ;)

roy

[2014-11-24 23:34] #7 closed, assigned to nobody

[2014-11-29 22:40] havardgulldahl opened #9 "Uploading a file with non-ascii characters will fail because of Jottacloud bug"
Uploading the file causes this error

[code]

The problem is that `requests.packages.urllib3` creates this multipart header for the file:

[code]

And the JottaCloud servers have a bug: they don't like the asterisk in `filename*=` (even though this is what the HTTP spec mandates).

[2014-11-29 22:44] #9 closed, assigned to havardgulldahl

[2014-12-07 20:36] havardgulldahl opened #10 "Support big files (fix MemoryError)"
Currently, due to how urllib3 works, every file is loaded into memory before it is sent over the wire.  Thus, with big files you'll end up like this:

Traceback (most recent call last):
  File "/usr/local/bin/jottacloudclientscanner.py", line 67, in saferun
    return apply(cmd, args)
  File "/usr/local/lib/python2.7/dist-packages/jottacloudclient/jottacloud.py", line 87, in new
    _new = JFS.up(

[2014-12-07 20:43] havardgulldahl opened #11 "Growing files without re-uploading"
JottaCloud supports partial uploads using the **HTTP Content-Range** header.

jottalib needs to add support for this to fix #10 and hopefully #8 as well.

[2014-12-07 20:44] havardgulldahl opened #12 "Support partial downloads"
Implement **HTTP Content-Range** for GET requests.

[2014-12-11 17:49] havardgulldahl opened #13 "Handle incomplete files"
Currently accessing some of the attributes of an incomplete file will raise an exception:

      File "./jottacloudclient/src/jottalib/JFS.py", line 343, in md5
        return str(self.f.currentRevision.md5)
      File "lxml.objectify.pyx", line 218, in lxml.objectify.ObjectifiedElement.__getattr__ (src/lxml/lxml.objectify.c:3506)
      File "lxml.objectify.pyx", line 437, in lxml.objectify._looku

[2014-12-11 20:52] havardgulldahl opened #14 "jottacloudclient gets unicode paths wrong and deletes files with non-ascii characters"
`jottacloudclientscanner.py` from [jottacloudclient](https://gitorious.org/jottafs/jottacloudclient.git) keeps uploading and immediately deleting files with non-ascii characters.

[code]

[2014-12-11 23:13] #14 closed, assigned to nobody

[2014-12-11 23:42] #5 closed, assigned to nobody

[2014-12-18 07:39] goddva opened #15 "Handle Jottacloud's case-insensitive API"
It seems that Jottacloud is using a case-insensitive filesystem, so if you have two files with the same name, but different case, it will only upload the first file. It will however tell that the second file was uploaded, but its not visible on the Jottacloud. Now after each new run, it will tell that the file was uploaded, even if it was not.

[2015-01-20 00:10] thusoy opened #16 "Non-local cli tools"
I've started a fork working on a couple of cli tools for working with the jottacloud folder, like `jotta-ls`, `jotta-rm`, `jotta-upload` and `jotta-download` (or maybe just `jotta-cp`), etc. My intention is to be able to manipulate the data without needing a full copy locally, or needing to mount a filesystem or anything like that. I think I also got big file handling working, but I couldn't get i

[2015-01-28 15:21] alexschrod opened #17 "Propertly handle large files"
jottacloudclientscanner.py seems to try to load the whole file that it's synching into memory. This gets problematic when the file size is close to the amount of free memory on the computer.

In my case, I was trying to sync a 2.8 GB file on a computer with 4 GB memory, of which about 3.6 GB were free when I started the jottacloudclientscanner.py program. This ended up being the output, after I wa

[2015-01-28 16:07] alexschrod commented on #17
Okay, I found one issue with the way I ran my code... I assumed the second argument was a jottafuse.py mount point. Still, running it with the "proper" location still causes this bug to take effect.

This is right before the program encountered another MemoryError. 89% memory use on a 4G program just won't do...:
![image](https://cloud.githubusercontent.com/assets/767490/5941245/f52ab8d0-a70f-11e4

[2015-01-29 13:23] alexschrod commented on #17
I have basically solved this problem. I want to pretty up the code I wrote a little, and then I'll commit it and make a pull request.

[2015-02-04 20:37] sickel opened #19 "[Errno 30] Read-only file system"
morten@sorbus:/etc$ python --version
Python 2.7.9
morten@sorbus:/etc$ lsb_release -d
Description:    Debian GNU/Linux 8.0 (jessie)

Having installed the nessesary modules, jottafuse starts with an error message, but seems to manage fine afterwards:

￼￼morten@sorbus:~/Downloads/jottalib-0.2/src$ ./jottafuse.py $HOME/jottafs
DEBUG:root:getting url: https://www.jotta.no/jfs/MortenSickel
INFO:urllib3.

[2015-03-17 20:18] fatso83 commented on #15
It's crazy that the server side works that way, but none of the supported client operating systems are case sensitive, so it's not that strange this hasn't been a priority for them. As you can see from this [thread](http://apple.stackexchange.com/questions/22297/is-bash-in-osx-case-insensitive), HFS+ (OS X) is case-preserving, but not case sensitive. It can be configured to be case-sensitive, thou

[2015-05-24 15:54] jkaberg opened #20 "Lets get this rocking!"
Hey Håvard, how about we get this alive and kicking again? (by that I mean large file support etc :smile: )

I dont remember what logs you need of me, could you tell me again?

@havardgulldahl

[2015-05-24 18:35] havardgulldahl commented on #20
Yes. This spring has been really busy, and I've neglected this project for
too long.

Let's get back on the road with this circus!

On Sun, May 24, 2015 at 5:54 PM, Joel Kåberg <notifications@github.com>
wrote:

--
Håvard Gulldahl <havard@gulldahl.no>
Telefon: 9971 0615
http://lurtgjort.no/

[2015-05-25 07:48] alexschrod commented on #20
Despite having a few minor issues and missing a few features (most glaringly, partial file upload support), this software works quite well. I run a cronjob every night keeping my backup in sync, and I have no real problems at this time. I feel secure that should my file storage system buckle, my most important files are safe and sound. :+1:

[2015-05-25 15:44] jkaberg opened #21 "Slow uploads"
Just tried uploading a binary file (roughly 1GB) and it avarages at roughly 4-5KB/s, what's odd is when looking over the connection I see the python process downloading stuff at 250-500 KB/s

![image](https://cloud.githubusercontent.com/assets/613363/7799369/9869e9c0-0305-11e5-90c2-bd4242d68fd0.png)

My connection is a 100/100 Mbit/s so I doubt thats the problem

PS: Using the fuse module

[2015-05-25 16:07] jkaberg commented on #21
I'm dumb!

[2015-05-25 16:07] #21 closed

[2015-05-25 16:10] jkaberg commented on #17
@havardgulldahl This one could be closed I guess? And this one https://github.com/havardgulldahl/jottalib/issues/10

[2015-05-25 16:11] jkaberg commented on #16
@thusoy Would you mind rebasing and sending a PR to @havardgulldahl branch?

[2015-05-25 22:29] jkaberg commented on #20
I'm mostly leaning towards issues #11 #12 and #3, before these gets resolved I'm not in an position to use the lib

If @havardgulldahl dosn't pick it up I'll give it a shot after my exams :-)

[2015-05-27 17:08] havardgulldahl commented on #16
@thusoy Sorry about the lag. I'm intrigued by your tools, what kind of use
cases are you solving?

Re the big file handling, I'll take a look at your solution.

And I'd like to keep the jottalib repository as clean as possible.. maybe
rename jottacloudclient to -tools and put everything in there? What do you
guys think?

On Mon, May 25, 2015 at 6:11 PM, Joel Kåberg <notifications@github.com>
wrote

[2015-05-27 17:37] havardgulldahl commented on #20
@alexschrod That's great! Tell us more. Do you use jottacloudclient.py or something else? Anything special there that needs love?

Daily backups is my main use case as well. And jottacloudclient.py bombs out on big files, but apart from that my backups run hitch-free.

@jkaberg Yeah, we need to close those critters. And I need your help! Could you please get a log of you manually pausing and then

[2015-05-27 17:48] havardgulldahl commented on #20
@jkaberg You mentioned #3 . The OP on that thread had caching issues with the FUSE module. Have you had caching issues in other situations?

[2015-05-27 21:52] havardgulldahl opened #22 "Support resume of unfinished upload"
With #13 fixed, we can recognize unfinished uploads. Now we should be able to resume where we left off last time.

(Note that this is not related to streaming uploads in #11 , as well as arbitrary adding to an existing file. This bug is tracking the ability to pause and continue the upload of the same file)

[2015-05-27 21:55] havardgulldahl commented on #12
Implemented in commit fe788c44122ca798db84c622b8b73dc255d8d762

[2015-05-27 21:55] #12 closed

[2015-05-27 22:06] havardgulldahl commented on #11
This is the case.

We can upload files in a stream ( #18 ), and hopefully resume uploads ( #22 ), so this bug is about uploading arbitrary chunks of data to an existing file.

If someone is able to do this with the official client, please drop the HTTP log (headers only) here.

[2015-05-27 22:34] havardgulldahl commented on #16
I've had another think about this, and actually what we'll do is put all cli tools, jottacloudclient included, into the jottalib repository.

And then we'll have different packages on pypi, all created from one repo. Everything else seems really messy to me, right now. So go ahead and create that PR once you're done, @thusoy :)

[2015-05-27 22:38] havardgulldahl commented on #17
I believe this is fixed, please reopen if you still have issues.

[2015-05-27 22:38] #17 closed

[2015-05-27 22:39] havardgulldahl commented on #10
Fixed in #17

[2015-05-27 22:39] #10 closed

[2015-05-27 22:44] havardgulldahl commented on #15
Ok, so we'll have to fix this on the client end, and make the tools do something clever. Thanks for your comments, guys.

[2015-05-28 07:19] jkaberg commented on #11
@havardgulldahl I'm looking into this now, any suggestions on how to simulate this? I tried shutting down the client while uploading but that restarts the entire upload from scratch

[2015-05-28 09:02] jkaberg opened #23 "Register jottafuse with fstab/mount"
http://stackoverflow.com/questions/1554178/how-to-register-fuse-filesystem-type-with-mount8-and-fstab

Should be supported IMHO :smile:

[2015-05-28 09:12] jkaberg commented on #20
@havardgulldahl I can only recall one time where I noticed that behaviour and it's the same as in OP @ #3

[2015-05-28 09:25] alexschrod commented on #23
I concur, this seems like a breeze to add and would be very useful.

[2015-05-28 09:34] alexschrod commented on #20
@havardgulldahl Sure, I have this script that runs every night:

    #!/bin/bash

    export JOTTACLOUD_USERNAME="mail@example.com"
    export JOTTACLOUD_PASSWORD="****"

    ENCFS_PASSWORD="****"

    SOURCE_FOLDERS=( /opt/filestore/Documents /opt/filestore/Videos/Personal /opt/filestore/Photos )

    # Create temporary directory to use as encrypted mount-point
    MOUNT_DIR=$(mktemp -d)

    for

[2015-05-28 09:41] alexschrod commented on #20
By the way, I can't remember where I found the 'jottacloudclientscanner.py' file and associated stuff. I just remember it was on a different site than GitHub, for some unexplained reason.

[2015-05-28 10:43] thusoy commented on #16
@jkaberg Sure, glad to see the project have picked up some steam again.

@havardgulldahl As FUSE and duplicity are not great friends of windows, it's a way to get cross-platform shell access to your files. I'm using duplicity for most of the backups on other machines, but it's nice to be able to do a sanity-check of the backups without running duplicity in full, just checking that recent files are

[2015-05-28 12:15] nuth commented on #11
I've been writing my own client in java (lost the code, but still). I was thinking of splitting up the file client side and then uploading it chunks. Of course it wouldn't help with re uploading only the changed chunk later (maybe somebody can think of something clever here), but it would help in terms of md5ing large files (and I believe memory usage) and I suppose you could even upload in parall

[2015-05-28 15:07] havardgulldahl commented on #11
Don't you have a pause button? Or in the context menu from the tray?

Sendt fra min mobiltelefon

[2015-05-28 15:18] havardgulldahl commented on #16
I see. Thanks for the explanation.

Are you using  duplicity with the jottacloud backend, or with jottafuse as a "local" backend?

[2015-05-28 15:20] thusoy commented on #16
@havardgulldahl Duplicity with Jottacloud backend, with some modifications to handle large files. Sadly, duplicity itself is less than great with large files...

[2015-05-28 16:04] jkaberg commented on #11
@havardgulldahl See my post above, I revisited it with 2 logs

[2015-05-28 17:17] havardgulldahl commented on #11
Thanks, @jkaberg , these logs clearly show that resuming upload is doable, so good news for #22

However, for this bug, which is about *growing* an existing file without re-uploading (i.e. appending data at the end of the file), this doesn't get any further. I'm not sure the Jottacloud API needs to support it, so it may not be possible.

[2015-05-29 07:13] havardgulldahl opened #25 "Preserve and sanitize file paths that contain urlencoding"
In jottacloudclient, when syncing file trees, a local path such as this:

    /Movies/iMovie Projects.localized/Mitt første prosjekt.rcproject/Proxies/%2FVolumes%2FMedia%2FiMovie%20Events%2Elocalized%2Farbeidsbenk%2FIMG_4416%2EMOV

(`%2F` being urlencoding for `/`, some iMovie dev has been really clever here)

Will end up in this confused request:

    DEBUG:root:getting url: .../jcctest/Movies/iM

[2015-05-29 07:14] jkaberg commented on #11
@havardgulldahl Not sure on how I can emulate this? The 2nd logs in my previous post is when I use pause/resume in the Jotta client

[2015-05-29 07:15] jkaberg commented on #22
Re-posting logs from issue #11
https://gist.github.com/jkaberg/f387a9de553f374a202c
https://gist.github.com/jkaberg/a20b80291eb041801540

[2015-05-29 07:21] jkaberg opened #26 "Create device folders (was: AttributeError: no such child: mountPoints)"
Tried mounting jottafuse today and got this
[code]

Just before I tried mounting I did a manuall update with

[2015-05-29 08:38] havardgulldahl commented on #11
@jkaberg Yeah, I don't know if their official client would ever need to do this. As long as they transfer file by file, and reupload the whole file if it's changed, it seems we're out of luck.  What we're looking for here, is some support for patching a file by pushing diffs.

Could you capture a log from the websocket chatter, maybe there is something interesting there?

[2015-05-29 08:45] jkaberg commented on #11
@havardgulldahl The websocket only ever gets upgraded, nothing more is happening on that part (atleast of what Fiddler can decipher, and afaik it supports WS fully)

Seems we're out of luck

[2015-05-29 17:58] havardgulldahl commented on #15
Here's what we'll do.

From https://mail.python.org/pipermail/python-dev/2009-May/089524.html

    Actually, I believe we do:
    open('format', 'wb').close()
    try:
        os.lstat('FoRmAt')
        casesens = True
    except IOError, e:
        if e.errno == errno.ENOENT:
            casesens = False

[2015-05-29 19:04] havardgulldahl opened #27 "monkeypatch urllib3 param function to bypass bug in jottacloud servers"
This is what we are doing to monkeypatch urllib3 param function to bypass bug in jottacloud servers

Requests/urllib3 correctly encodes the `filename` of a multipart/form-data transfer if it contains non-ascii characters, and then names the field `filename*` (with an asterisk). [See thorough explanation](http://stackoverflow.com/a/20592910)

This is too much for the Jottacloud server.

Luckily, th

[2015-05-29 19:04] #27 closed

[2015-05-29 19:53] havardgulldahl commented on #20
@alexschrod Thanks for sharing your setup. We should probably populate a wiki with use cases and examples. Like, *real* documentation, not just code. ;)

Anyway, I've shut down the separate repository for jottacloudclientscanner and included it in jottalib proper. Seems more natural.

Oh, and please add a new bug report for the symlink issue.

[2015-05-29 19:57] havardgulldahl commented on #22
Thanks, @jkaberg , could you please get me one more. This time I need the data as well, not just the headers.

So if you could start syncing some new files in the client, and then pausing, quitting and restarting.

I need to figure out the best way to discover incomplete uploads.

[2015-05-29 20:02] havardgulldahl commented on #27
Blast! I totally forgot that I'd already documented this. oh well.

[2015-05-30 13:09] alexschrod opened #28 "Symlinks with non-existent targets cause IOError"
As I mentioned in issue #20 I encrypt my files with encfs before I back them up. This causes symlinks to break in the encrypted version of the filesystem.

Jottalib reacts to "invalid" symlinks in the following manner:

    Ouch. Something's wrong with "/tmp/tmp.f7bvJEklz3/JFt1O6BOCP68QNIL430Ggrb2/BHn20qqG1QgosXO36sl6Nhcy/u39r-N7aeQdbsVMxbd0L2BE5/p613RPVEZhp,ys4Dm85Y2OxL":
    ERROR:root:SAFERUN:

[2015-05-30 21:15] jkaberg commented on #22
@havardgulldahl Here's the log, https://jkaberg.com/uploads/misc/1_Full.txt

Since it contains the raw data it's quite big

Let me know how it goes :smiley:

[2015-05-31 10:22] jkaberg commented on #26
Oddly enough, removing my "devices" from my account @ jotta.no solves the problem

[2015-06-03 18:16] havardgulldahl commented on #26
Hmm. I don't understand quite what you did. Could you please give more detail?

[2015-06-03 18:18] havardgulldahl commented on #26
If you could send me the output of what you get when you visit `https://www.jottacloud.com/jfs/**USERNAME**/WIN-30L7VTADP6A/` in a browser, that'd be grand. Send me a private message or email. Thanks!

[2015-06-04 21:14] havardgulldahl opened #29 "Use certifi to keep up to date with certificates"
Citing http://docs.python-requests.org/en/latest/user/advanced/

[2015-06-04 21:27] havardgulldahl opened #30 "Need documentation"
We need more end user documentation.

Use cases and solutions

[2015-06-04 21:42] havardgulldahl opened #31 "Need tests"
To help this project leave hobby/ad hoc status, and become something that we can objectively rely on, we need tests.

To be honest, I haven't much experience in this field, so I'd appreciate suggestions on a thorough test framework that is kind to lazy programmers ;)

[2015-06-04 21:48] havardgulldahl commented on #28
I don't want to be too clever and do something that the official client doesn't support. Either we ignore symlinks all together, or we back the content up under the symlinked file name.

Both approaches have their downsides.

What would a majority of users expect?

[2015-06-04 22:09] havardgulldahl commented on #22
@jkaberg Unfortunately, those logs didn't really demonstrate incomplete files. Did you pause and restart?

Maybe you could do another round, this time add 4-5 medium-ish files (3-4mb or so), set the client to upload 5 files at the time, and do a few rounds of pausing and restarting...

This way we'll be able to see exactly how the client is supposed to behave on resumed uploads.

[2015-06-04 22:14] havardgulldahl opened #32 "Support concurrent uploads"
The official clients can do up to six separate uploads/downloads at the time. We should support that, too.

This will greatly speed up `jottacloudclient`, which is able to do more than one thing at the time. But not `jottafuse`, since it hurts my head to think how to solve the race issues.

[2015-06-08 18:18] jkaberg commented on #26
[code]
And
[code]

(I removed WIN-30L7VTADP6A since my last test)

[2015-06-08 18:21] jkaberg commented on #22
@havardgulldahl yeah I did, several times actually (just as you described)

You still need the logs?

[2015-06-19 12:55] alexschrod commented on #20
This project died down again awfully quickly. I was hoping it was going to spring to life for a little longer than a week.

[2015-06-21 18:36] havardgulldahl commented on #20
@alexschrod @jkaberg You're the most vocal users. If you want this rocking, I need your help.

What's your feeling here? How does the current git code run for you? Any big bugs that prevent us from releasing a new version of jottalib?

[2015-06-21 20:47] jkaberg commented on #20
Well currently (upload) speeds is the biggest issue for me (maxing out at
10kbps on a 1gbit line). I'd love to see your feature branches finished and
merged, which should solve my issue.
21. jun. 2015 20.36 skrev "Håvard Gulldahl" <notifications@github.com>:

[2015-07-24 16:28] jkaberg commented on #26
Ok so I check this a bit more and came to the conclusion that device folders (the ones in /, eg /Jotta/ or /<choosen device name>/) can't be empty or we'll get the error 1st post. A workaround for now is obviously to create a folder with the official client first then use jottalib

[2015-07-27 07:49] jkaberg commented on #26
Just had a thought about this @havardgulldahl , shouldn't we be able to create (device) folders in the root?

[2015-07-27 09:34] jkaberg opened #34 "[FUSE] WARNING:root:Unknown jfs object: <type 'lxml.objectify.ObjectifiedElement'> <-> "user""
Whenever using **ls** or equivalent on a fuse mount the console outputs warning above

[2015-07-27 09:35] jkaberg opened #35 "[FUSE] Copying files fails (TypeError: an integer is required)"
fi.flags)

When trying to copy a file (using **cp**) from a jotta fuse mount to local it fails with the above error

[2015-07-29 23:42] havardgulldahl commented on #34
fixed in development branch, thanks

[2015-07-29 23:42] #34 closed

[2015-07-29 23:43] havardgulldahl commented on #29
Fixed in 69018062665914f779ca892a3540fb2537180079

[2015-07-29 23:43] #29 closed

[2015-07-29 23:46] havardgulldahl commented on #13
Fixed 519292a1f9e942d2ead67b6a995fc55405e0b24e

[2015-07-29 23:46] #13 closed

[2015-07-29 23:48] havardgulldahl commented on #22
fixed in jottalib 519292a1f9e942d2ead67b6a995fc55405e0b24e

but we still need to add support to our tools, like `jottacloudclientscanner.py` and friends

[2015-07-29 23:48] #22 closed

[2015-07-29 23:51] havardgulldahl commented on #26
I don't know the api to do that. Will you be able to provide me with some logs of doing it?

[2015-07-30 06:24] jkaberg opened #36 "object of type 'MultipartEncoder' has no len()"
m_len = len(m)

Happends when I run tests/speedtest.py

[2015-07-30 06:42] havardgulldahl commented on #36
I see that the test is picking up the system jottalib, so that is the problem.

You should run this code in a virtualenv so it will run with the git code.

[2015-07-30 06:42] jkaberg commented on #35
Seems to be fixed with latest changes in develop branch

[2015-07-30 06:42] #35 closed

[2015-07-30 07:50] havardgulldahl commented on #36
On further inverstigation, I see you're quite right. The api of MultipartEncoder from requests.toolbelt changed slightly in the newest release. Fixed now. Thanks!

[2015-07-30 07:50] #36 closed

[2015-07-30 07:50] havardgulldahl commented on #35
Thanks!

[2015-07-30 12:36] jkaberg opened #38 "AttributeError: 'builtin_function_or_method' object has no attribute 'seek'"
This seem's to only happen when mounting first jottafuse then on top of that mounting EncFS and then trying top **cp** a file into the unencrypted directory (aka the encrypted directory hosted on jotta)

Is it solvable? Using EncFS on top of jotta for additional security would be a nice thing to have/do

[2015-07-30 19:30] #38 closed

[2015-07-30 19:30] havardgulldahl commented on #38
Thanks for your report!

[2015-07-30 19:49] havardgulldahl commented on #20
I'm closing this now. Music is everywhere.

[2015-07-30 19:49] #20 closed

[2015-07-30 19:53] havardgulldahl commented on #16
Any news on your fork, @thusoy? I'm very intrigued by your cli tools and the reorganization of scripts that you have done, and I'd like to pull it in and build on top of that for the next release.

I realize that theses have their own timeline, and if you have some ballpark schedule for this, I'd be happy. :)

[2015-07-30 20:11] havardgulldahl opened #39 "Convert path operations using os.path.join() to "/".join()"
We need this for windows compability. Every invocation of `os.path.join` should be checked and if need be, changed.

Just like @thusoy did here:
https://github.com/thusoy/jottalib/commit/2a8da24aa1ec73aff5d416803612a9b0ab14e9bd#diff-0d491925f77dc90df49511414dd9f158R140

It should be an easy job, and requires zero knowledge of the plumbing. So a great place to start for someone who wants to contrib

[2015-07-30 20:14] havardgulldahl commented on #31
Closing this umbrella, but I welcome new bug reports on specific tests that need to be written. And PRs are even more welcome :)

[2015-07-30 20:14] #31 closed

[2015-07-30 20:15] havardgulldahl commented on #23
@alexschrod care to write it up?

[2015-07-31 09:43] havardgulldahl commented on #32
If anyone is up for exploring `requests-futures` here, this would be a welcome addition.

It seems like the threshold is low, since the API of `requests-futures` is _almost_ identical to standard  `requests`. So, if you want to help this project, whip up some code and submit a pull request :)

[2015-07-31 09:46] havardgulldahl commented on #8
@rkarlsba, quite a lot has happened here since your initial testing.

Would you care to give it another try with the latest code in the `development` branch?

[2015-07-31 09:50] alexschrod commented on #23
I'll get right on it once I'm done with my current project, which takes up
all my free time outside of work. Shouldn't be too long, a few weeks at
most.

On Thu, Jul 30, 2015 at 10:15 PM Håvard Gulldahl <notifications@github.com>
wrote:

[2015-07-31 12:36] jkaberg opened #40 "[FUSE] enhance testfile"
[] add test for EncFS

[2015-07-31 22:20] thusoy commented on #16
I didn't find as much time for this during summer as hoped,  I'm out travelling now and will be for the next few weeks,  ballpark is late august. It's not much work really,  so should be done quickly as soon as I'm back.

Den 30. juli 2015 21.53.11 CEST, skrev "Håvard Gulldahl" <notifications@github.com>:

[2015-08-11 21:03] havardgulldahl commented on #8
I'm closing this, reporter has gone away. Anyway, I think we've come a long way solving this, let me quote @jkaberg from https://gitter.im/havardgulldahl/jottalib:

[2015-08-11 21:03] #8 closed

[2015-08-11 21:04] havardgulldahl commented on #3
We're not caching anything now, so closing

[2015-08-11 21:04] #3 closed

[2015-08-11 21:10] rkarlsba commented on #8
I gave up on jotta - sorry about it

[2015-08-11 21:10] havardgulldahl commented on #26
Pushing this to 0.4, we need to see some logs of how the official client does it

[2015-08-11 21:13] havardgulldahl commented on #19
I'm really sorry to leave you hanging like this.

There has been quite a lot of changes since you reported the issue. I am certain that this particular issue is fixed with the latest code.

Please reopen this bug if you still trip over this. Thanks!

[2015-08-11 21:13] #19 closed

[2015-08-11 21:14] havardgulldahl commented on #8
Ok, bye.

[2015-08-12 05:26] #26 closed

[2015-08-12 05:26] #28 closed

[2015-08-13 08:12] havardgulldahl commented on #32
There is some work done in the branch https://github.com/havardgulldahl/jottalib/tree/development-futures, if anyone is interested in trying this out.

Patches, comments and pull requests are welcome!

[2015-08-17 19:29] jkaberg opened #43 "Range end index larger than file size"
ref https://github.com/havardgulldahl/jottalib/commit/6cae757bd9ceefa347919f495a1426220dc19f45

[code]

This is simple to reproduce, just do (after mounting jottafuse.py)

[2015-08-18 18:39] havardgulldahl commented on #43
I can confirm the bug.

Based on preliminary testing, it seems like a linux bug, where the gnu utils will happily ask for data larger than the file size, whereas the osx/bsd utils only request up until file size.

Sorry about this, I didn't run the fusetest.sh script on my linux machine, so I didn't catch this.

I'll find a way to fix this. Thanks for your report.

[2015-08-19 07:49] havardgulldahl commented on #43
Also, there is a second bug here. `cat` shouldn't return the error message silently. `cat` should fail here.

[2015-08-21 07:00] jkaberg commented on #43
@havardgulldahl just wanted to point out - this worked fine with ver 0.2.10

[2015-08-21 20:04] mortenlj commented on #39
Another way to do this, is to use posixpath instead of os.path, which gives you all the path-handling logic, while still giving you forward slashes regardless of platform.

[2015-08-21 20:22] mortenlj opened #44 "Add support for exclude patterns"
I have Synology NAS, which adds extra directories with thumbnails all over the place. I'd like to use jottacloudclientscanner to backup my photos, but I need to exclude all the thumbnail-folders.

The simple solution is to add support for a regex matched against the entire source path, and skip the file if it matches the pattern.

[2015-08-21 20:50] mortenlj commented on #44
I'll see if I can manage to code something up in the next week or two.

[2015-08-22 20:03] #43 closed

[2015-08-22 20:08] havardgulldahl commented on #44
Cheers, @mortenlj !

This seems legit, both the use case and the implementation. Will you please provide an example on how to use it?

Also, we sorely need to get `py.test` running on `jottacloudclientscanner.py`. any ideas on how best to do that?

[2015-08-22 20:08] havardgulldahl commented on #39
Thanks for the suggestion!

[2015-08-22 20:36] mortenlj commented on #44
Example usage:

I have these files on my local machine:
[code]

I want to back them up, except the git related documents, because I don't really like git:

[code]

As for py.test, I'm afraid I don't have any good ideas.

[2015-08-23 00:18] havardgulldahl opened #46 "Add network cache"
As it is, `jottafuse.py` spends a lot of time and bandwidth on getting the same resources again and again, since there is no caching.

We need to cache the most requested stuff.

[2015-08-23 11:11] alexschrod commented on #28
I'm not sure just not supporting symlinks gives people the expected behavior. It certainly means that if I took a backup and did a restore, I wouldn't get back what I originally backed up.

[2015-08-24 07:37] havardgulldahl commented on #28
@alexschrod Yes. Propose a solution and then we have something to discuss.

[2015-08-24 21:36] havardgulldahl commented on #44
@mortenlj I have taken another look, and I added some comments to your code. If you want to talk about it, maybe you will join us at https://gitter.im/havardgulldahl/jottalib ?

It's a good place to discuss implementation details and expectations.

[2015-08-26 21:22] #44 closed

[2015-08-26 21:50] havardgulldahl opened #47 "Add fusetest.sh to travis test setup"
... to avoid embarrassing bugs like #43, that slipped by because tests weren't run on linux.

Apparently we need a user-mode-linux script to be able to mount fuse and test this.

[2015-08-26 22:16] havardgulldahl commented on #39
@mortenlj Would you be able to take a stab at this bug?

[2015-08-30 19:39] mortenlj commented on #39
I'll take a stab at it. Just so I don't misunderstand anything, this is about handling "Jotta-paths", which are essentially parts of an URL, correct?

[2015-09-01 19:09] havardgulldahl commented on #39
Great! Yes, that's right.

søn. 30. aug. 2015 kl. 21.39 skrev Morten Lied Johansen <
notifications@github.com>:

[2015-09-02 20:05] jkaberg opened #49 "Use heuristic when downloading/streaming file from jotta"
As per chat,

speedtest.py output
[code]

[2015-09-03 22:46] havardgulldahl commented on #30
The [wiki](https://github.com/havardgulldahl/jottalib/wiki) is growing steadily. In some areas the documentation is still a bit shallow, but all the basic functionality is described. So - squished!

[2015-09-03 22:46] #30 closed

[2015-09-03 22:50] havardgulldahl commented on #16
@thusoy How's it going? Let's get your stuff into the tree!

And, I'd be really happy if you could explain your `duplicity` setup over here: https://github.com/havardgulldahl/jottalib/wiki/Normal-use-cases#i-want-to-integrate-with-the-duplicity-backup-program

[2015-09-04 16:44] thusoy commented on #16
I rebased and opened a PR, not ready for merge yet but feedback welcome. I can split out the not directly related commits to a different PR if desired (editorconfig and gitignore), the rest I'll squash before merge.

[2015-09-04 16:54] thusoy commented on #16
As for the duplicity integration, I think I started from the duplicity backend included in this repo and ended up here: https://gist.github.com/thusoy/def300d58b034da0ba91. I unpacked duplicity 0.7 and put this file in `duplicity/backends/jotta_backend.py`, then ran `python setup.py install`. Has been working pretty good so far. This has been working pretty steady now for several months with `jott

[2015-09-05 23:08] havardgulldahl opened #51 "Add method to get list of latest files"
Using this url:

  https://www.jottacloud.com/jfs/**USERNAME**/Jotta/Latest?sort=updated&max=100&web=true

[2015-09-05 23:17] havardgulldahl opened #52 "Include jottacloud backend in duplicity upstream"
Clean up and submit @thusoy's https://gist.github.com/thusoy/def300d58b034da0ba91/revisions

[2015-09-08 19:28] #39 closed

[2015-09-11 09:08] cowai opened #53 "Option for only checking modified date and size with jottacloudclientscanner"
I want to backup up a lot of data to jotta with jottacloudclientscanner. Using md5 to check each time takes ages to finished, and is very straining on my drives. How hard would it be to make it only check if size and time is modified before checksumming the file? Rsync-style.

[2015-09-12 07:53] havardgulldahl commented on #53
hey @cowai! Nice to see you.

We could do that -- although it would have to be an optional thing, and it would come with a big warning.

That's because metadata like size and time are *signals*, but I consider a checksum more like *truth*.

There's one thing I would like to hear your opinion on, though. I recently added [the possibility to store checksums in the file system](https://github.com/hav

[2015-09-12 07:55] havardgulldahl commented on #16
Thank you for that gist. I added your duplicity enhancements to `master`.

I'll comment on your PR over there: #50

[2015-09-12 08:25] cowai commented on #53
Hi
This would also work and have the same effect. But it would still be "signals". I mean how do you determine when to recalculate a checksum without relying on metadata?
Locally storing checksums is fine by me, it would double the io access locally but much better then checksum each time:)

Related question:
Does jottalib store the file time at jottalib or is just creating a new date at upload?

[2015-09-12 14:55] thusoy commented on #16
@havardgulldahl Did some work on this today, split the PR up into clearly separated commits so that it's easy to follow what's done. The only thing I think is really missing is a progress bar for uploads. Downloads has one. I see that in some of the tests you've used `clint` for this, but since it hadn't been added as a requirement yet I wasn't sure if you wanted to keep it out or not, so I just w

[2015-09-12 16:27] thusoy commented on #16
Added progress bar for uploads as well. Give it a spin, everything should be working now.

[2015-09-12 16:47] havardgulldahl commented on #53
Yeah, you're right, of course. The only way to be certain is to calculate
the checksum every time. So, we try to be as close to certain as possible

What I'm thinking, is that by storing the checksum, the last modified time
and the file size together, we will trust the cached checksum as long as
the two others are still correct. If the file size or the last modified
time has changed, we recalculat

[2015-09-12 17:19] cowai commented on #53
I guess it would work good. I am not convinced it would be necessary though. If rsync does not do it, then it could not be that bad :P But of course it wont hurt either :) I have a question for that though: Is there ever a situation where a file changes and the mtime does not change? I can only think of one case, and that is when there is bitrot, and in that case I dont want my broken file to be r

[2015-09-12 19:03] havardgulldahl commented on #16
@thusoy Ok, so most of this looks straight forward and obviously an enhancement. This is great!

The only thing is progressbar.py.

I'd really like to continue using clint. I have every confidence in your progressbar implementation, but since we're using clint for colored output anyway, and less code to maintain == less bugs, I suggest we use the clint progressbar all over the place.

What are the

[2015-09-12 19:06] havardgulldahl commented on #16
Oh, and I think we should add `jotta-scan` and `jotta-monitor` in there as well. To get rid of the ridiculous names they're carrying now.

[2015-09-12 19:11] havardgulldahl commented on #53
Yeah, I don't disagree with you. So I'm happy to add the option `--no-checksum` or something like that.

But we'll keep md5 checksumming as the default, because

1.  We keep feature parity with the official client (and we're exactly as safe as them)
2.  This is backups we're talking about, so we want to err on the side of caution
3.  The implementation would be dependent on a feature (*server side

[2015-09-12 19:18] havardgulldahl commented on #53
Regarding local md5 cache.

I'm not particularly interested in maintaining a central cache, be it sqlite or a structured, flat json file. Caching is hard, and keeping that cache in sync sounds like a quick way to get in a bad mood.

But take a look at db30d406a04a3689f482e8a2a5e72a2fb889a32a. It's a way of keeping the calculated checksum along with the file itself, using [xattr](https://wikipedia.

[2015-09-12 19:23] havardgulldahl commented on #51
If anyone is looking to get an easy way into contributing code, this would be it!

Look at the different classes in `JFS.py` that wrap file object lists, and copy that. Ask around if you need help: https://gitter.im/havardgulldahl/jottalib

[2015-09-12 19:37] thusoy commented on #16
@havardgulldahl No objections at all to using clint, I just saw that it was only used in tests and not in any of the shipped code, and thus I didn't want to add an extra dependency just for the progressbar. But I have no emotional attachment to my own code, I'll delete that and add `clint` as a dependency and use that instead, gimme a sec.

[2015-09-12 19:41] havardgulldahl commented on #16
sweet.

[2015-09-12 19:43] havardgulldahl opened #55 "python3 support"
we want to be a part of the future!

any takers?

[2015-09-12 20:18] thusoy commented on #16
@havardgulldahl Done. However, I do think it's a step down in terms of usability - clint doesn't display the current download/upload speed as the previous code did, only <number of bytes downloaded>/<total size>, which doesn't make much sense to most users. I'll see if I can subclass the clint progressbar to show speed instead of byte count, but I can provide that in a separate PR if you're satisf

[2015-09-12 21:10] havardgulldahl opened #56 "Rename poorly named utilities"
Following suit from @thusoy's #16 feature fork, we need to rename `jottacloudclientscanner.py` and `jottacloudclientmonitor.py`. For consistency and to reduce the risk of carpal tunnel syndrome.

[2015-09-12 21:13] cowai commented on #53
About always md5 checksumming always-on: I didn't know the official client did this every time. Makes sense do make it do the same thing.

xattr seems like a good idea now that I actually know how it works! :)

[2015-09-12 21:25] cowai opened #57 ""+" in file names is not escaped properly"
Hi,
I just noticed that files with "+" in the the name is interpreted as a space. Next time I sync, it gets deleted again there is no local file with same name ;)
"Deleting 1 files from JottaCloud because they no longer exist locally"
Maybe we can monkey patch this iwth '.replace("+","%2B")' somwhere. Maybe in JFS.up() and in delete() ?

[2015-09-12 21:32] havardgulldahl commented on #53
Well, I don't think they recalculate the checksum every time. They keep a sqlite db around where they store a lot of metadata:

    CREATE TABLE jwt_fl (jwc_id INTEGER PRIMARY KEY ASC AUTOINCREMENT, jwc_name, jwc_path, jwc_hash, jwc_phash, jwc_chksum, jwc_size, jwc_created, jwc_modified, jwc_mp, jwc_revision, jwc_lastchecked, jwc_err, jwc_nextupload,jwc_parentfolder,jwc_folderid);

So I reckon the

[2015-09-12 21:36] havardgulldahl commented on #57
Ouch! Well, obviously, we're missing urllib.quote() somewhere. Care to take a look?

[2015-09-12 21:38] havardgulldahl commented on #57
btw, this would solve #25, too.

[2015-09-12 21:42] cowai commented on #57
I can try. But I must admit this is my first python project ;)

[2015-09-12 21:44] havardgulldahl commented on #11
Removing milestone. I no longer think this is possible to solve, because this is my current understanding of the protocol:

The md5 checksum is how the JottaCloud servers differentiates between file revisions. So you can't keep growing a file, because with each iteration the file would have a new checksum, and thus JottaCloud would see a new file every time.

[2015-09-12 21:47] havardgulldahl commented on #57
Ok, that's cool :) :+1:

Shout out if you have any questions.

[2015-09-12 22:14] thusoy commented on #16
Turns out it was hard to subclass the clint progress bar. I'll submit a patch to clint and see if I can get a progress subclass for file transfer into their tree, and if that happens we can use that here without getting any extra maintenance.

[2015-09-12 22:58] cowai commented on #57
I added an escape for urls. It seems to work good. There is another problem though with jottalib not understanding the file info from jotta (after having successfully uploaded the file and rerunned the sync), because of not decoding the url correctly.
[code]

[2015-09-13 08:50] cowai commented on #57
@havardgulldahl Please test my latest commit. I think it actually works now. It may be hacky though.

[2015-09-13 12:16] cowai opened #59 "Folders only existing at jotta is not deleted. Same goes for files inside those folders."
If I sync a folder to jotta, and then deletes it locally will make it stay undeleted at jotta forever. Is this intended?

[2015-09-13 13:28] cowai commented on #53
If we are going to implement this option. We need to save date in xattr too right? So that we can check if size and date in xattr is the same as the actual file modified time and size, right?

[2015-09-13 13:31] cowai commented on #59
It looks like in jottacloud.compare that it never gets the tree of jotta top path. Only iterates over the local folders.

[2015-09-13 15:36] jkaberg commented on #56
As you suggested in gitter, ```jotta-scanner``` and ```jotta-monitor``` seems reasonable to me

[2015-09-13 16:04] thusoy commented on #16
Ah, now I see what you mean with the progressbar, that file was commited by accident. I'll remove it from the PR as soon as I get home.

[2015-09-13 16:49] jkaberg commented on #56
The cli tools, perhaps an entry point like ```jotta``` and then sub point like ```rm``` ```mkdir``` etc would be better then having dedicated entrypoints for all?

Example usage would be
```jotta mkdir /yada/yada```

```jotta rm /yada/yada/*```

[2015-09-13 17:36] thusoy commented on #56
@jkaberg That is a possibility. One of the nice things of having separate commands is easy shell completions. It also prevents the monstrosity that often occurs with nested command parters and other cleverness in the name of DRY when implementing sub-commands. There might be an analogy here to microservices, but I'm not sure. I don't care much either way, just my $.02.

[2015-09-13 17:45] thusoy commented on #16
Unused progress.py removed.

[2015-09-13 18:17] alexschrod commented on #56
There's also the "best of both worlds" approach that e.g. Git takes, where you have both single-command entry, like "git commit" and "git push", but also individual commands, like "git-commit" and "git-push".

[2015-09-13 20:18] cowai commented on #57
There is problems with filenames that have "=" and "?" in their names. Because of how jottalib is coded we need to refactor a bit to get around that. Because we cannot escape/replace = and ? with their escape versions inside JFS.post and JFS.get because functions like delete() in jottacloud.py appends "?dl=true" to the url, which would be escaped as well. So either we need to escape the url in all

[2015-09-13 20:21] havardgulldahl commented on #56
I'm happy that you all want to rename.

Personally, I like `jotta-*` best.

But here's another thing for all of you. Would you prefer `jotta-*` or `jottacloud-*`?

[2015-09-13 20:31] havardgulldahl commented on #57
Hm, from what you're saying, adding '?dl=true' after a round of urllib.quote() sounds right. We can't do it in `.post()` or `.get()`, as you say.

Maybe we should add a method called `.path_quoted()` or somesuch to `JFSFile` and `JFSFolder` and friends, and use that instead of `self.path`.

[2015-09-13 21:01] havardgulldahl commented on #57
I tested your code, and while it works, I've written some more tests that you have to take a look at, please: https://github.com/havardgulldahl/jottalib/commit/48c42c19bedc065d3980b70e4ff1860978aa9f35

Great stuff so far, @cowai !

[2015-09-13 21:11] havardgulldahl commented on #59
Well, it's not the way it should be. Not with the `scanner`, anyway. Thanks for the report.

[2015-09-13 21:49] havardgulldahl commented on #57
Sorry, use this commit instead: 90756360caafe86325b2b8ecd53250466b813d37 (it's in current master)

[2015-09-13 23:22] cowai commented on #57
I will check out the tests tomorrow. Now I need to sleep ;)
Btw, checkout my latest master. I actually made a helper function to quote full urls. It works good. Not perfect, but the good thing is that we don't need to rewrite half the code. .post() and .get() is all that is needed to quote the path when they use the new quote function. What do you think?

[2015-09-14 08:16] thusoy commented on #56
The way I've come to think of it, "jotta" is the core service, while all the others are interfaces or functions utilizing the service. jottacloud is the web interface, jottalib the library, jotta-ls lists files, jotta-qt a qt interface, etc. Thus jottacloud-ls would be wrong in my ears.

[2015-09-14 08:54] cowai commented on #59
a9c3786 fixes this. I have no idea if this is good code. But hey it works.

[2015-09-14 16:15] havardgulldahl commented on #56
Sounds about right to me.

[2015-09-14 16:31] #16 closed

[2015-09-14 17:03] cowai commented on #57
I am testing current master (9075636).
I get JFSNotFoundError: https://www.jotta.no/jfs/USERNAME/Jotta/Archive/testimage.jpg?mode=thumb&ts=WL does not exist (no.jotta.backup.errors.NoSuchPathException)
Do I need to have a testimage.jpg somewhere locally?

[2015-09-14 21:49] havardgulldahl commented on #57
Yes. That would be a bug with the test suite. Thanks

[2015-09-14 22:25] havardgulldahl commented on #56
fixed in https://github.com/havardgulldahl/jottalib/commit/45352a5ea9ae738687b028cccb2ad55f559e4b98

[2015-09-14 22:25] #56 closed

[2015-09-14 22:29] havardgulldahl commented on #46
Implemented in https://github.com/havardgulldahl/jottalib/commit/184ec4ca6fffbde9fbb9731ce1815af230b4a8b3

Please file a new report if there are errors

[2015-09-14 22:29] #46 closed

[2015-09-15 06:52] thusoy opened #61 "pip install from tarball fails due to missing setup.py"
How about renaming setup-jottalib.py to setup.py and keeping the other one? Not having a setup.py breaks a lot of tools that expect that to be found, like pip.

[2015-09-15 07:07] thusoy opened #63 "Missing requirement xattr in setup.py"

[2015-09-23 22:01] alexschrod commented on #23
Sorry, but for my own sanity, I must un-promise to do this, for now. I may get back to it, or you may get it done without me, but regardless, I need to not have this hanging over my head anymore.

[2015-09-25 22:19] havardgulldahl commented on #23
Ok. Don't worry about it.

@jkaberg, are you up for the job?
tor. 24. sep. 2015 kl. 00.01 skrev Alexander Krivács Schrøder <
notifications@github.com>:

[2015-09-27 21:14] #61 closed

[2015-09-27 21:18] havardgulldahl commented on #49
this requires a lot of work, so I'm not delaying 0.4 for it.

and frankly, I really want people to use the native `jotta-*` tools to communicate with JottaCloud, and not the fuse abstraction, because it's really hard to make that thing work as fast as everyone wants

[2015-09-27 22:10] havardgulldahl commented on #63
fixed in 15dabbe

[2015-09-27 22:10] #63 closed

[2015-09-27 22:15] havardgulldahl opened #65 "cli.py functions should get explicit list of arguments for easy testing"
i.e. replace

    def upload():

with

    def upload(argv):

and

    args = parse_args_and_apply_logging_level(parser)

with

    args = parse_args_and_apply_logging_level(parser, argv)

Without this, testing all cli methods requires a nasty hack to manipulate sys.argv. It's not nice.

Are you up for this, @thusoy?

[2015-10-09 07:07] jkaberg commented on #49
Note to self

https://github.com/GoogleCloudPlatform/gcsfuse/blob/master/internal/gcsx/random_reader.go#L236

[2015-10-23 22:33] jkaberg commented on #49
Also this

https://github.com/yadayada/acd_cli/blob/master/acdcli/acd_fuse.py#L53

perhaps the above is what your looking for @havardgulldahl ?

[2015-11-30 18:54] torarnv commented on #59
What happens if a local folder is temporarily unavailable? Delete operations of whats in Jotta should be very very carefully managed so that we don't end up wiping e.g. backup data due to a temporary issue locally

[2015-12-24 15:10] jnylen opened #68 "[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed"
Hi,

Looks like the SSL for jotta.no is bad. Should be fixable by changing jotta.no to jottacloud.com in JFS.

[2015-12-24 15:11] jnylen opened #69 ".netrc machine name in wiki"
Hi,
In the wiki netrc machine name is jottacloud.com while jottalib thinks its "jottacloud" without the TLD.

[2016-01-15 15:12] antonhagg opened #72 "Getting it to work in windows"
Dont know if it's my Python knowledge that is a bit limited but I cant get it to work under windows.
Have done both "pip install jottalib" and "pip install jottacloudclient" with no errors but can't get it to load afterwards. is there something more that needs to be done?

/A

[2016-01-17 06:09] havardgulldahl commented on #69
Thanks for your report. I'll take a look.

[2016-01-17 06:15] #65 closed

[2016-01-17 14:37] #68 closed

[2016-01-17 20:52] havardgulldahl opened #73 "Verify checksum after download"
Via private email, the suggestion was raised that our tools could automatically verify the content after download, by comparing the md5 checksum from jottacloud and that of the newly downloaded file.

Sounds like a nice command line option for `download()` in `cli.py`.

This would be a nice way to get the know the codebase for beginners.

[2016-01-17 21:50] havardgulldahl opened #74 "Restore doesn't work"
Seems like Jottacloud has gone and changed the web api, and `restore` and maybe other methods relying on the web api have stopped working.

Tagging @thusoy, since you originally did the hard work on this.

[2016-01-17 22:02] havardgulldahl commented on #55
@ttyridal started this with 5c410a77be5676d8336d872e2613cd5b6aeef1a1

There's some low hanging fruit in the `py.test` files, look here for a traceback: https://travis-ci.org/havardgulldahl/jottalib/jobs/102994183

The proper way would be to start by adding `six`, I guess.

[2016-01-17 23:44] thusoy commented on #74
Yes, I have noticed. Not sure how much has changed, I haven't had time to study the new api yet.

[2016-01-18 10:39] havardgulldahl commented on #72
Please tell us a bit more about what you are doing, and what the outcome is. As specific as possible. Thanks!

[2016-01-18 11:50] antonhagg commented on #72
Ok, so without any previous knowledge of python I did a fresh install of Python 2.7.11.
When doing pip install jottacloudclient and pip install jottalib i ran into some trouble, found out that I needed to install  Microsoft Visual C++ compiler and lxml. I got that installed and ran the pip install jottacloudclient and pip install jottalib again, this time without any errors.

Successfully installe

[2016-01-19 11:53] oyvindlh opened #75 "jottalib 0.3.1.post1 does not provide the extra 'fuse'"
On OSX 10.11.2, have tried both Python2.7 and Python3.

When I pip install jottalib[FUSE] I get:

Collecting jottalib[fuse]
  Using cached jottalib-0.3.1-1.tar.gz
  jottalib 0.3.1.post1 does not provide the extra 'fuse'

And when trying to run jotta-fuse I get:

ython3 jotta-fuse
/usr/local/Cellar/python3/3.5.0/Frameworks/Python.framework/Versions/3.5/Resources/Python.app/Contents/MacOS/Python: ca

[2016-01-19 13:03] antonhagg commented on #73
Without previous knowledge of Python and without a working installation this is what I came up with.

[code]

[2016-01-20 10:00] antonhagg opened #76 "xattr not supported under windows"
Hi,

It seems that xattr is not supported under windows, is there a way to bypass this in jottacloud.py?
Also, isn't there a risk that if you store the md5 as a file attribute that it will miss uploading it since the md5 file attribute is not updated automatically when the file is changed?

/Anton

[2016-01-20 18:10] havardgulldahl commented on #72
Sorry, the release on pypi is lagging severely behind.

Please install directly from github for now, and tell us how that works for you.

[2016-01-21 00:35] havardgulldahl commented on #55
Chipping away in 1656ae2f2737f93d745af1b729f67ca40b9edca5, 00a53289ef73e5a0352630054336d427dc84230c and  6174564721777b86dc50b0dd25966613800dedc2

[2016-01-21 01:04] #25 closed

[2016-01-21 01:04] #57 closed

[2016-01-21 01:21] havardgulldahl commented on #73
That's not that bad for something you wrote without knowing the language.

But you'll see some issues once you get your installation running (get it straight from github). So get that going, and then keep on coding :)

Here's some things I see immediately

1. You need to calculate the md5 of the file, not `data`.
2. You don't want to end up with a `input()` prompt. A red error message (look at `cl

[2016-01-21 01:23] havardgulldahl commented on #76
This is a bug in `jottacloud.py`.

[2016-01-21 01:25] havardgulldahl commented on #75
Thank you for your report.

The pypi package is lagging behind the github version.

Please, could you try installing with `pip` directly from the github repository, and see if that makes any difference? Thanks!

[2016-01-21 08:12] cowai commented on #59
@torarnv Yes, a flag should have to be passed for this I agree.

[2016-01-21 18:52] #69 closed

[2016-01-21 23:49] havardgulldahl commented on #75
I pushed a new version to pypi last night. I expect that to solve your issues.

If this still does not work as you expect, please reopen this issue and describe your disappointment. And the details of the bug, too :)

[2016-01-21 23:49] #75 closed

[2016-01-21 23:55] havardgulldahl commented on #59
So we should probably stand on the shoulders of giants here. Someone has probably solved this problem before.

@cowai, would you be able to check out what rclone does in this situation?

And then we'll create a wiki page describing how `jottalib` handles this, to be super explicit here.

[2016-01-21 23:57] havardgulldahl commented on #69
With the 0.4 release out, the pypi package behaviour matches the wiki description

[2016-01-22 00:04] havardgulldahl opened #77 "Codify canary"
JottaCloud started publishing a canary warning in 2015, over at https://www.jottacloud.com/canary/

If anyone wants to implement a top-level function to get the canary status, I'd welcome it. It would be a nice way to get acquainted with `jottalib`.

[2016-01-22 00:05] havardgulldahl commented on #15
Move to milestone 0.5

[2016-01-22 00:05] havardgulldahl commented on #40
Move to milestone 0.5

[2016-01-22 00:06] havardgulldahl commented on #59
Move to milestone 0.5

[2016-01-22 00:07] havardgulldahl commented on #72
Please try with the latest package from pypi and let us know how it works!

[2016-01-22 00:09] havardgulldahl commented on #23
I've added this to the 0.5 release, do you agree, @jkaberg or @alexschrod ?

[2016-01-22 00:37] #76 closed

[2016-01-22 09:30] antonhagg commented on #76
Nice, thanks!

[2016-01-22 11:38] antonhagg commented on #72
I tried by getting it directly from github, and it kinda works.
It gets the wrong root folder (it defaults into the "Sync" folder when running jotta-ls).
Also there seems to be some errors in the progress.py file, see debug info under.
[code]

[2016-01-22 11:50] antonhagg opened #78 "Support for folder download in Jotta-download"
I am not sure, but it seems that jotta-download doesn't support download of whole folders.  There might be something else causing this error, below is the error I get.

[code]

[2016-01-22 13:46] antonhagg commented on #72
Looked in the Cli.py and it actually says that default root should be root. Why is that?

[code]

[2016-01-22 14:42] cowai commented on #59
@havardgulldahl
I believe I implemented this in a local fork some months ago. I will if this code is usable.
I also took a glance on how rclone did it, but didn't grasp it immediately.

I cannot really see the big problems with implementing this really. The basics is just check doing a check for each local folder it iterates to if the state is the same both places.

Let me check my code and come b

[2016-01-22 14:51] cowai commented on #59
@havardgulldahl
I actually had forgot that this was implemented here: https://github.com/cowai/jottalib/commit/a9c3786bde728ae62ebbadb0a199d011c6955428

Maybe its not the best implementation. But it should work fine.
This is essentially the same code as before but it does folders instead of files. Remember this issue is not about deleting things at the remote. We already do this. This is for the a

[2016-01-22 15:08] havardgulldahl commented on #78
Thanks for this, @antonhagg !

No-one has implemented support for folder downloads yet. If you want to have a go, the field is yours :)

[2016-01-22 15:08] torarnv commented on #59
Deleting anything from the remote when not present locally should be an explicit operation, both for files and folders, triggered by an explicit `prune` action or a config that enables it. What happens if I eg. set up syncing for `/mnt/backup` that I then mount other folders into, and happened to have the mounts fail for some reason so that the root tree is suddenly (and temporarily) empty? I'd wi

[2016-01-22 15:19] havardgulldahl commented on #59
@cowai  your code from september looks fine, but are you able to rebase to current git, and send a PR?

I agree with you and @torarnv that syncing to jottacloud shouldn't delete folders unless explicitly specified. Because unless my eyes really fail me, your patch **does** prune at remote: https://github.com/cowai/jottalib/commit/a9c3786bde728ae62ebbadb0a199d011c6955428#diff-a28577d6d85894256b6b11

[2016-01-22 15:21] havardgulldahl commented on #59
And for your last comment, @torarnv . Just in case it ever happens to anyone, I wanted to write this explicitly. The backup would be wiped, but you could undelete in from the JottaCloud web interface.

[2016-01-22 15:24] cowai commented on #59
@havardgulldahl @torarnv
Though I agree there should be an option to activate this. The current behaviour now is deleting files but not folders, which I think is worse. A flag activating both, "--delete" or "--prune" would be the best solution. I will rebase the code and try to release something soon.

[2016-01-22 15:27] havardgulldahl commented on #53
fixed in https://github.com/havardgulldahl/jottalib/commit/64fdf1e480e85eb9c2d56f38df0d8232da7ce87d

[2016-01-22 15:33] torarnv commented on #59
@cowai Ah, yeah, we should definitely be consistent in how we deal with files and folders. Agree that a global `prune` flag that enabled both, with default to false, is the best option.

@havardgulldahl Glad to hear the files are retained for some time at the Jotta side, just in case. Do you know if they will then hash new uploads agains deleted content to prevent large re-uploads, just restoring

[2016-01-22 16:05] havardgulldahl commented on #59
Guys, there's a difference between files and folders.

If the local folder is gone, it might be because of mounting issues, and then we need to be cautious and adhere to a `--prune` arg.

But if a local file is gone (but we have the folder), what other reason would there be than it being deleted?
Help me out here if there's something I'm missing.

[2016-01-22 16:08] torarnv commented on #59
@havardgulldahl That's a good point. How do you treat symlinks? What would a broken symlink trigger?

[2016-01-22 16:08] havardgulldahl commented on #59
... So I propose that the `--prune` flag would be for folders only, because the default expectation of a two way sync would be that if you delete a file locally, it would disappear remotely, too.

If you guys agree, I think maybe the flag should be even more explicit, maybe `--prune-missing-folders` or something like that?

[2016-01-22 16:10] havardgulldahl commented on #59
@torarnv We're skipping symlinks in `jotta-scanner`.

[2016-01-22 16:11] torarnv commented on #59
Ah, I see, as in not even syncing them to Jotta? Then it should be fine. An explicit flag sounds good.

[2016-01-22 16:12] antonhagg commented on #73
So there are some progress, but got stuck at an error which I couldn't figure out how to fix (commenting out the for loop in calculate_md5 removes the error).

[code]

I'm not sure that the way I am accessing the local file are the best. I'm also struggling getting the md5 property from the remote file. Would be nice with a hint in the right direction. =)

    if args.checksum:
       with open(re

[2016-01-22 16:13] havardgulldahl commented on #59
Yes. https://github.com/havardgulldahl/jottalib/blob/master/src/jottalib/scanner.py#L70

[2016-01-22 16:27] torarnv commented on #59
(somewhat unrelated, it seems the only way to really have full replicable sync of a HFS+ filesystem is to sync the bands of a sparsebundle, so that you don't need the sync utility, rscyn, jottalib, etc, to support xattrs, symlinks, timestamps, etc. Thoughts?)

[2016-01-22 16:35] havardgulldahl commented on #59
Not sure I follow. 
Would you care to explain a bit more?

Skrevet med tommelen

On Fri, Jan 22, 2016 at 8:27 AM -0800, "Tor Arne Vestbø" <notifications@github.com> wrote:

(somewhat unrelated, it seems the only way to really have full replicable sync of a HFS+ filesystem is to sync the bands of a sparsebundle, so that you don't need the sync utility, rscyn, jottalib, etc, to support xattrs, symli

[2016-01-22 16:40] cowai commented on #59
@havardgulldahl @torarnv
I think you are right. But the current behaviour is still not a standard way of doing it. Can you think of any sync tool that does delete on files but not folders?
My suggestion would be to not prune anything as a default, but have the following flags as options:
--prune-files
--prune-folders
--prune-all

Any thoughts?

[2016-01-22 16:42] torarnv commented on #59
@havardgulldahl What I mean is if I have I use `jotta-scanner` to sync to Jotta, then delete my local content and restore from Jotta, I wont'a have a 1:1 copy of my original files. I will eg. be missing any symlinks I had in the original file structure. And I'm guessing my file modification timestamps will be wrong, and I'll be missing extended attributes, etc.

See eg https://www.haystacksoftware

[2016-01-22 17:11] cowai commented on #53
@havardgulldahl
So now it can check only by mtime/size?

[2016-01-22 17:42] malinkb opened #79 "jotta-scanner - UnicodeWarning: Unicode equal comparison failed to convert both arguments to Unicode"
I get this error when using jotta-scanner to upload a folder to jottacloud:

`<WARNING:py.warnings:/usr/local/lib/python2.7/dist-packages/jottalib-0.4_1-py2.7.egg/jottalib/JFS.py:92: UnicodeWarning: Unicode equal comparison failed to convert both arguments to Unicode - interpreting them as being unequal>`

Actual terminal output with -l debug switch
http://paste.debian.net/367149/

snippet from ./

[2016-01-22 17:53] havardgulldahl commented on #59
@torarnv Yes, your observation is 100% correct. In the "standard" mode, where we replicate the way the official clients work, everything else but the file name and contents are effectively discarded. The JottaCloud file system is just as sophisticated as FAT32, it would seem.

My personal preference is to use a tool like `duplicity`, which will tar up everything for you in a nice container, and st

[2016-01-22 17:58] cowai commented on #59
@havardgulldahl
Sending mtime to Jotta would be one thing I think we could do. I think it's better than nothing and I think they actually retain the mtime information.

I agree that the scanner should be fast and naive.

Btw, before I can fix #59 I need to get jottalib installed. I have written my problem in https://gitter.im/havardgulldahl/jottalib. Could you have a look at the errors and tell me

[2016-01-22 17:59] havardgulldahl commented on #59
@torarnv [said](https://github.com/havardgulldahl/jottalib/issues/59#issuecomment-173952324):

I haven't really tested this fully. I don't know what the official client does.

AFAIK, JottaCloud keeps 5 revisions of every file. There might be some api to restore content just based on md5, but I haven't seen it.

[2016-01-22 18:04] havardgulldahl commented on #59
@cowai [said](https://github.com/havardgulldahl/jottalib/issues/59#issuecomment-173972151)

Ok, thanks for your thoughts, @cowai and @torarnv. Here's what I think.

Being a part of a backup suite, I agree that we should err on the side of caution.

So we go with all these flags, and they **default to False**, so nothing gets deleted on the remote side unless it is explicitly specified.

[2016-01-22 18:08] havardgulldahl commented on #79
Thanks, @malinkb!

I'll take a look

[2016-01-22 18:10] havardgulldahl commented on #79
There's a silly utf8 decoding bug in there. Sorry about that.

[2016-01-22 18:28] malinkb commented on #79
Ah. How can it be resolved? Thank you for taking a look :)

[2016-01-22 18:28] torarnv commented on #59
@havardgulldahl :+1:

[2016-01-22 18:30] havardgulldahl commented on #53
Hmm I might have been a bit too eager here. ;)

We still have to patch `jottacloud.replace_if_changed` to only look at mtime if the right argument is passed.

Thanks for paying attention :)

[2016-01-22 18:34] havardgulldahl commented on #72
@antonhagg

You probably meant .. "the default root shoud be **Sync**", yeah?

There is no particular reason that the Sync folder is the default. It just seemed like a nice idea.

What we're missing is a way to pass the root dir as an argument to the cli scripts. So that is something we need to be able to do. You want to have a go?

[2016-01-22 18:53] cowai commented on #79
I have the same problem.

[2016-01-22 19:08] cowai commented on #59
I just pushed https://github.com/cowai/jottalib/commit/5b982278925263f720da643024d4f0d7089b59a9
Its untested for now.

[2016-01-22 19:36] cowai commented on #77
@havardgulldahl
Since the canary will be updated once a week, can we simply extract the date out with regex and if the date is older than a week the canary is dead? We should check the signature as well maybe.

Any thoughts?

[2016-01-22 19:54] cowai commented on #79
@havardgulldahl
These changes seems to fix the issue, no idea if that is the cause of the real problem though.
[code]

[2016-01-23 11:14] cowai commented on #53
@havardgulldahl
I will see if I can add that option to only check for size and mtime, like the default rsync behaviour. I think that will be a lot faster with thousands of files instead of looking up xattr for each file. I want to backup 10TB with ~2 million files without that taking hours each time. Every millisecond counts in my case :)

[2016-01-23 11:24] antonhagg commented on #73
I think the first error is related to issue #79. Will see if the result there fixes the issue.
Anyone that can give me a hand with getting the md5 from the remote file?

[2016-01-23 14:57] #59 closed

[2016-01-23 15:18] #79 closed

[2016-01-23 15:51] havardgulldahl commented on #79
@malinkb Check out the 0.4.1 release and reopen this bug if you still have problems.

[2016-01-23 15:58] malinkb commented on #79
Thanks. It actually works now. First I believed otherwise, but it was because I mistyped the name of the destination folder.

[2016-01-23 16:01] havardgulldahl commented on #73
After you `jfs.getObject(/path/to/file)` and get  a `JFSFile` object, look at `JFSFile.md5`, and in this case `remote_file` is already there, so:

[code]

And take it from there. :+1:

[2016-01-23 16:03] havardgulldahl commented on #77
Yes, sounds like a sound plan.

[2016-01-23 16:27] cowai opened #81 "Issue with resuming"
[code]

[2016-01-24 23:58] thusoy commented on #74
Hm, the issues I had noticed had actually already been fixed in jottalib (related to incomplete files), so I haven't seen any issues with the restore. Care to elaborate what sort of errors you're seeing, @havardgulldahl?

[2016-01-25 09:30] antonhagg commented on #72
That's correct. Was a bit to quick. =)
Not sure that I understand what your asking for, but is it that all functions in cli.py should have an argument that the "real" root should be used?

Regarding the other error above (the Unicode error). I'll just open a new issue with that, so I guess this issue can be closed.

[2016-01-25 09:38] antonhagg opened #85 "Don't use utf-8 in console output on windows"
When running the jotta-dowload there seems to be an issue with the progress bar.
The error I get is:

[code]

Commenting out line 229 and 233 It works perfectly.

[2016-01-25 11:59] antonhagg commented on #85
Removing empty_char='○', filled_char='●' in Cli.py seems to fix the issue.

[2016-01-25 13:14] antonhagg commented on #73
I've been trying to get it to work but the checksum doesn't seem to be correct. Not sure this is a issue that's related to using it under windows or not but. Anyway, below is the code in Cli.py.

[code]

The checksum i get is:
[code]

Checking the file in an external md5 checker (http://onlinemd5.com/) gives the value of:
9FFF650BE9FD5A05D531730E4350AF51

Also doing a ```print data``` in JFS.py se

[2016-01-25 13:30] antonhagg commented on #73
Sorry, got it to work!
Was having one indent to much so it was missing out on the last chunk. =)

How do I go forward and suggest the new code (first time I use github)?

[2016-01-25 14:33] antonhagg commented on #78
Ok cool!

So I see there might be multiple ways of getting this.
One is to get the full tree list beforehand and add all download paths to all files to a single que list. This will probably take some time to request from the server if there is a big tree.

So therefor I was thinking to only get one folder at the time and those files in that particular folder and work deeper and deeper within the t

[2016-01-25 15:44] antonhagg commented on #78
Haven't come to far but suggestions how to go forward could be nice (btw, the last bit doesn't work) =)

[code]

[2016-01-25 17:55] havardgulldahl commented on #85
Ok, so the Windows command line doesn't support unicode characters.

Without really going into this, I would say that an easy fix might be to run a `if platform.system()=='Windows'` check, and disable the offending chars if `True`.

[2016-01-26 13:44] antonhagg commented on #78
So I've done some progress (I ended up going for ?mode=list way since I couldn't figure out how to only get one folder at the time). Any suggestions?

Currently this is what I got, but I can't seem to access the information within .tree
If i print the the whole remote_object.filedirlist().tree i see information about the files as well, but I struggle to access it. Any suggestions how to do this?

[2016-01-26 17:57] antonhagg commented on #78
Ok, maybe not the best code but it works.

[code]

[2016-01-27 12:48] antonhagg opened #86 "Downloading files and folders with Swedish letters fails"
There seem to be some problem downloading files and folders that have Swedish letters (åäö).
The problem seem to be in urllib.py and in posixpath.py but is there something we can do in jottalib to prevent this to happend?

[code]

[code]

[2016-01-27 15:24] antonhagg opened #87 "Parsing big XML files with "lxml.objectify.fromstring" returns an error"
This is mainly related to #78 where an xml- file can grow quite big (in my case its around 500 mb and contains 779917 files and 90361 folders). But I guess this could happen otherwise too.

Anyway, there is an option to use a custom parser with the option "huge_tree" (http://stackoverflow.com/questions/11850345/using-python-lxml-etree-for-huge-xml-files). Would this be an option or is there anothe

[2016-01-28 13:22] antonhagg opened #88 "remove md5 hash from incomplete files in JFSFileDirList()"
When going through the code in the JFSFileDirList class i found that it takes into consideration that an incomplete file doesn't have a size. This is the case for md5 aswell and therefore I think the code should be:

[code]
insted of the code:
[code]

[2016-01-28 13:26] antonhagg commented on #87
So I have found a workaround for this by first writing the xml to a file and then reading it into memory. This means that it doesn't have to have them both in memory at the same time. Is this an acceptable solution?

[code]

[2016-01-28 13:28] antonhagg commented on #86
Update: This is also the case for Norwegian letters.

[2016-01-28 14:19] antonhagg commented on #86
Encoding the url in get() seems to fix the problem, at least for the first error (see code below).
The second error I have no idea how to fix. Printing the value gives me "Õõ÷.pdf" so there might be something going on with the input from the command line (in windows).

[code]

[2016-02-01 14:36] jnylen opened #90 "jottalib.contrib not included by setup.py (was: FUSE error)"
Hi,
I install jottalib through pip and wanted to try to use FUSE but the recent version seemed to have bugged it out completely. FUSEPY is installed already but it still complains:

`Traceback (most recent call last):
  File "/usr/local/bin/jotta-fuse", line 11, in <module>
    sys.exit(fuse())
  File "/usr/local/lib/python3.4/dist-packages/jottalib/cli.py", line 103, in fuse
    from .jottafuse i

[2016-02-01 16:02] havardgulldahl commented on #90
That would be a py3 bug on top of a missing import.

Please try to install jottalib in a py2 environment and report back if it still doesn't work.

[2016-02-01 16:10] jnylen commented on #90
On python 2 I see this:

`Traceback (most recent call last):
  File "/usr/local/bin/jotta-fuse", line 11, in <module>
    sys.exit(fuse())
  File "/usr/local/lib/python2.7/dist-packages/jottalib/cli.py", line 103, in fuse
    from .jottafuse import JottaFuse
  File "/usr/local/lib/python2.7/dist-packages/jottalib/jottafuse.py", line 41, in <module>
    from jottalib.contrib.mwt import Memoize
Impo

[2016-02-01 16:31] jnylen commented on #90
Everything else seems to work well though. But I need to use FUSE for some stuff I do.

[2016-02-01 16:36] jnylen commented on #90
And on jotta-monitor this occurs:

`
Traceback (most recent call last):
  File "/usr/local/bin/jotta-monitor", line 11, in <module>
    sys.exit(monitor())
  File "/usr/local/lib/python2.7/dist-packages/jottalib/cli.py", line 340, in monitor
    from .monitor import filemonitor
  File "/usr/local/lib/python2.7/dist-packages/jottalib/monitor.py", line 36, in <module>
    from jottalib.contrib.readl

[2016-02-01 17:01] havardgulldahl commented on #90
Is this git or 0.4.1?

Skrevet med tommelen

On Mon, Feb 1, 2016 at 8:36 AM -0800, "Joakim Nylén" <notifications@github.com> wrote:

And on jotta-monitor this occurs:

Traceback (most recent call last):

  File "/usr/local/bin/jotta-monitor", line 11, in <module>

    sys.exit(monitor())

  File "/usr/local/lib/python2.7/dist-packages/jottalib/cli.py", line 340, in monitor

    from .monitor impor

[2016-02-01 17:15] jnylen commented on #90
Hi,
This was installed from pip. So I guess it's 0.4.1.

[2016-02-01 17:41] havardgulldahl commented on #90
Ouch, that sucks. Don't know why you're getting those errors, the tests should've caught it.

I'm looking into it now.

[2016-02-01 17:48] havardgulldahl opened #91 "Write better tests for scripts' operation"
To prevent stupid errors like #90, we need tests that fully verify that our cli tools run as intended.

[2016-02-01 18:13] havardgulldahl commented on #90
Yes, you're right. After poking around a bit, `jottalib.contrib` is not even included in `setup.py`. I'll cut a new release asap. Thanks for your report.

[2016-02-01 18:45] #90 closed

[2016-02-01 18:45] havardgulldahl commented on #90
Please try with the newly released 0.4.2 and report back if you have any issues.

[2016-02-01 20:11] jnylen opened #93 "Speed logs"
Hi Havard,
Would be amazing when using monitor and logging (-l debug):

Every x seconds output how much has been uploaded at what speed.

And on upload a speed indicator would be amazing.

[2016-02-01 20:12] jnylen opened #94 "Share doesn't return a url"
Hi Havard,
When using jotta-share from pip it doesn't return a shareable url when I do this:

Would it be possible to get a logging variable for this to indicate what the problem is?

[2016-02-01 20:24] jnylen opened #95 "Jotta-monitor stuck on "Uploading file""
Hi again Havard,
When using jotta-monitor <dir> archive (wiki says archive isn't needed while the cmd says it is) it gets stuck on uploading a .mp3 file which is 9MB large. While using jotta-fuse it finish uploading it in around 2s.

Here is what the -l debug var is saying:

`
Starting JottaCloud monitor
DEBUG:watchdog.observers.inotify_buffer:in-event <InotifyEvent: src_path=/home/jnylen/jottsfs/

[2016-02-01 20:31] IceHamster opened #96 "Pinned version of python2-certifi"
Why is certifi pinned to version 2015.4.28?

Installed the latest python2-certifi, and edited setup.py and i could upload a file to Jottacloud

[code]

[2016-02-02 00:27] havardgulldahl commented on #96
For historic reasons. While there is no question that we should pin if not needed, are you getting any issues with the old certifi? Just so I understand what you are reporting :)

[2016-02-02 01:53] jnylen opened #97 "Allow jotta-upload to upload directories"
Hi,
Is it possible to make it so jotta-upload can upload items inside of a directory?

[2016-02-02 08:22] IceHamster commented on #96
I'm asking if the use of an old version of "certifi" is needed?
The latest release is "2015.11.20.1", while the package used in setup.py for jottalib is version "2015.4.28"
I have installed jottalib with the latest "certifi" release, and it seems to be working. :)

Could we change line 49 in setup.py
From:
`'certifi==2015.4.28', # TODO: remove pin`
To:
`'certifi'`

[2016-02-02 08:31] antonhagg opened #98 "Connection timeout error"
It seems that the jottaservers throw you out after some time of inactivity (and you have to authenticate again). I haven't checked how long the time is but it feels like it isn't more than 5-10 minutes.
Anyway, I see this can cause some trouble, i.e. when big files are cecksum matched and no new request is sent to the server for a while.
I thought of two solutions to fix this issues:
1. Have some

[2016-02-02 09:09] antonhagg commented on #97
I did write some code for folder download. It might be similar to folder upload.
It hasen't been included in the master but you can have a look at my code if you want some inspiration. =)

[2016-02-02 20:24] ttyridal opened #99 "add md5 and dates argument to JFS.up"
and they should be allowed to be None (ie not send them). Seems like the jotta servers only actually requires JSize

Maybe allow for specifying size and accept generators as the fileobject when at it?

The apparent use-case here is on the fly encryption.

[2016-02-02 20:30] ttyridal opened #100 "Uploading io.BytesIO elements failing"
JFSFolder.up throws an AttributeError when using io.BytesIO objects because they have don't have a name attribute.

[2016-02-03 09:11] antonhagg commented on #98
It seems that this error was cause because of other reasons (connection dropped by ISP).
So I guess it might not be an issue with jottalib.

[2016-02-03 10:44] Exellent1988 opened #102 "Got FILE IO error when rsyncing with jottalib-fuse"
rsync: write failed on "/mnt/Jotta/++++++/photo/photo/schweden.zip": Bad address (14)
rsync error: error in file IO (code 11) at receiver.c(393) [receiver=3.1.1]
Exit-Status des rsync-Prozesses:11

Please help, or tell what infos you need to figure out whats wrong

[2016-02-06 09:50] antonhagg commented on #98
Still gets the error sometimes... Don't know if its the ISP or jottalib...

[code]

[2016-02-06 13:43] jnylen commented on #102
Try to change "+++++++" to something else with letters if it's actually called that.

[2016-02-06 15:38] Exellent1988 commented on #102
the +++++ is my server/computer name in jotta cloud which i blanked out XD

[2016-02-06 21:27] antonhagg commented on #98
Ok, so I have tried to find out when it timeouts and it seems that it is the case when a big file is hashed and no requests is made to the server for a while.
So is there any way to have a fallback option where it re-authenticate when if it fails to connect.

[2016-02-06 22:11] havardgulldahl commented on #102
Hey, @Exellent1988, nice to see you.

`rsync` is really pushing `jotta-fuse` to its limits. Does `jotta-fuse` work for you in other cases?

[2016-02-06 22:12] havardgulldahl commented on #98
That's interesting. How big is the file? Or - how long does it take between requests?

[2016-02-07 08:04] antonhagg commented on #98
Its about 3 Gb, It's hard to say the time but i would guess its about 3-5 minutes or so.

[2016-02-10 11:28] antonhagg opened #103 "Strange behavior when downloading file within a folder that contains "+" signs"
There seems to be something causing the stream to only download the first chunk, when downloading files within a folder that has "+" within its name.
The download is calling this function when downloading the file. Anyone that has an idea where to start with this?
Edit: It's also the case with files with "+" sign in the file name.

[code]

[2016-02-10 12:43] jnylen opened #104 "JFSIncompleteFile with size==-1 crashes resume() operation"
I get this error when pushing files:
[code]

The harddrive is a 1.87 TB SATA HGST drive.

[2016-02-11 18:03] antonhagg commented on #103
Have found the problem.
In the stream it did not encode the url to include quotes so i included escapeUrl in there, and it works now.

[2016-02-12 10:30] roflmao opened #105 "KeyError on jotta-share"
jottalib (0.4.2-1)

[code]

[2016-02-12 11:13] roflmao opened #106 "jotta-monitor doesnt upload any files"
jottalib (0.4.2-1)

[code]

Filechange detected but not uploaded even if it says so.

[2016-02-15 13:40] antonhagg commented on #98
Ok, so this is stretching my knowledge, but would it be possible to have something like this in JFS.py?

[code]
[code]

[2016-02-16 09:30] antonhagg commented on #98
Since i'm not sure the problem is because of that the server has de-authed the client or its a simple timeout. It might be worth just retrying the last request, which is a much simpler solution.
By reading the documentation around requests this is what it suggests around "retries".
[code]

Is this a good place for the code?

[code]

[2016-02-23 16:59] antonhagg opened #107 "File attributes"
Does anyone know what the file state mean?
Especially I wonder what the "added" and "processing" mean. The others are are more self explained. =)
[code]

[2016-03-24 09:33] georg90 opened #109 "duplicity TLS warning"
I finally made it to setup the duplicity+jottalib backend. duplicity somehow ignored the custom backend file but it's working now.

Btw. I compiled the 0.7.06 version (manually), downloaded https://raw.githubusercontent.com/havardgulldahl/jottalib/master/src/duplicity-backend.py into ````duplicity/backends```` renamed it to ````jottabackend.py```` and installed duplicity using ````sudo python setu

[2016-03-25 23:46] dahlSTROM commented on #86
@antonhagg Did you ever manage to solve this? I'm still having issues with jotta-scanner and uploading folders containing ÅÄÖ. The path gets messed up in the dict for some reason. Here's an example:

[code]

[2016-03-28 06:17] jkaberg commented on #109
@georg90 http://stackoverflow.com/questions/29134512/insecureplatformwarning-a-true-sslcontext-object-is-not-available-this-prevent

[2016-03-28 06:24] georg90 commented on #109
@jkaberg thanks for quick help. I somehow thought this must have been an issue with jotta, since it didn't gave me this on other backup profiles.. my mistake!

I used this to satisfy urllib3: ```pip install pyopenssl ndg-httpsclient pyasn1``` on ubuntu 14.04

[2016-03-28 06:24] #109 closed

[2016-04-18 17:52] tronder88 opened #110 "Add duplicati integration"
Just saw the comment regarding GUI, is it not possible to integrate this system with Duplicati? Thinking about Duplicati 2.0 as this runs on all systems.

[2016-04-23 18:47] georg90 opened #111 "[Scanner] Encfs encrypted upload not possible"
When trying to upload an encfs encrypted folder I get the following error with jotta-scanner:

[code]

[2016-05-06 13:31] sdalgard opened #112 "Problem installing on Win 7 - fails because of xattr"
Hi,
Thank you for making this functionality available :-)
I am trying to test jottalib on windows 7, but the installation fails:

I have first installed Python 3.5.1 and the started on installing jottalib.

When running "pip install jottalib[scanner]" , it ends with the message :
Command "python setup.py egg_info" failed with error code 1 in C:\Users\steffend\AppData\Local\Temp\pip-build-5028kyzf\

[2016-05-22 09:10] letasik opened #113 "When trying to install getting error"
Ubungu virtualbox 16.04 x64 clean install . python3 installed

root@letasik-VirtualBox:/home/letasik/Desktop/jottalib-master/tests# pip install jottalib
Collecting jottalib
Requirement already satisfied (use --upgrade to upgrade): requests in /usr/local/lib/python2.7/dist-packages (from jottalib)
Requirement already satisfied (use --upgrade to upgrade): six in /usr/local/lib/python2.7/dist-package

[2016-05-22 13:41] #113 closed

[2016-05-25 13:16] letasik opened #114 "Cyrillic non unicode files and folders can not be shown in jottalib[FUSE] when mounted."
Subj: When trying to go into cyrillic/non unicode "öäõü" letter folder/ or file  jottalib returns "BAD AADRESS" can provide logs as well. Quite critical.

[2016-06-09 10:54] nuth commented on #106
I can see on line 119 in monitor.py that the call to self._new is not updated to pass along the dry_run variable. Change to:
        return self._new(src_path, dry_run, remove_uploaded)

and it should work. Will make a patch later.

[2016-06-10 21:22] havardgulldahl commented on #107
Hello.

I have never seen the in the wild, so I can't tell.

[2016-06-10 21:23] havardgulldahl commented on #106
@nuth , @roflmao Thanks!

I look forward to the patch, yay!

[2016-06-11 06:28] havardgulldahl commented on #104
Ouch, something's wrong with that `xattr` check. I'll take a look.

Is the error consistent? That is, does it always fail on this file?

[2016-06-11 06:30] havardgulldahl commented on #100
Thank you for this. So, what's your use case here? Do you have any code using this?

[2016-06-11 06:32] havardgulldahl commented on #110
Hey, what GUI comment are you referring to?

I haven't used Duplicati myself, but I'm sure it would work. Have you tried it yourself?

[2016-06-11 06:34] havardgulldahl commented on #99
@ttyridal, This is really interesting, have you tested this? It would allow for all kinds of interesting uses.

[2016-06-11 06:36] havardgulldahl commented on #94
@jnylen Seems like a bug, I have to take a look. Does the command not return  anything at all?

[2016-06-11 06:37] havardgulldahl commented on #97
Hey @jnylen, how about I take a look at your PR, and after that is in you can write some code for `jotta-upload`? :D

[2016-06-11 06:41] havardgulldahl commented on #86
Guys, thanks for your patience, I have started working on unicode/character encoding issues.

[2016-06-11 06:50] havardgulldahl commented on #87
Hey @antonhagg, I think you are right, we need to do something to limit our resource requirements. I'll take a look at your code, thanks!

[2016-06-11 06:53] #96 closed

[2016-06-11 07:07] ttyridal commented on #100
Basically all kind of in-memory files. On the fly encryption f.ex.

I did some code trying to implement it, but ran out of time :(

[2016-06-11 07:12] ttyridal commented on #99
it's related to Issue #100

I did some research/testing to confirm that it's working before the priorities shifted.

[2016-06-11 16:37] havardgulldahl commented on #105
Thank you for your report!

The current code does not properly handle unicode/bytestrings, and I highly suspect that is the cause here. Are you trying to share a file from a path that has non-ascii characters?

[2016-06-11 16:40] havardgulldahl commented on #112
Hey @sdalgard! Thank you for reporting.

I haven't tried installing xattr on windows, but `jotta-scanner` should be able to run on windows. So I have to check around a bit more, but this sounds like a bug to me.

[2016-06-11 16:45] havardgulldahl opened #115 "Unicode / bytestring code is a mess"
The unicode<->bytestring conversion is quite sucky at the moment, I have to confess.

This is probably the cause for #114, #105, #86, and quite a lot of headache.

I'm currently going through a lot of code to try and whip things into proper shape.

Stay tuned.

[2016-06-11 16:50] havardgulldahl commented on #99
I'm hoping this will fix #11, too.

Looking into it.

[2016-06-12 19:00] havardgulldahl commented on #99
@ttyridal FWIW, I'd be happy to see your testing code, if there is anything we can use in jottalib. Maybe put up a gist, perhaps?

[2016-06-14 19:15] #106 closed

[2016-06-14 19:27] havardgulldahl commented on #94
@jnylen Seems like Jottacloud changed their API for sharing files. Trying to figure out the new API.

[2016-06-14 21:51] havardgulldahl commented on #110
i see it's written in C#, so writing a plugin for Duplicati is out of scope for this project.

I guess any production level gui would have to go through duplicity, see #108.

 I'd be interested to help out anyone wanting to port `jottalib`, to any platform, though. Get in touch if that is you, @tronder88 :D

[2016-06-14 21:51] #110 closed

[2016-06-14 21:59] havardgulldahl commented on #93
Any takers for this one? Maybe the functionality from `scanner.py` will work.

[2016-06-14 22:01] havardgulldahl commented on #105
And now I just figured out that Jottacloud has gone and changed the sharing API, see #94.

So we have to fix that first.

[2016-06-14 22:03] havardgulldahl commented on #98
So, @antonhagg, is this still a problem?

Did you try changing the code with `max_retries=5`?

[2016-06-14 22:07] havardgulldahl commented on #77
@cowai, I don't think we actually need the canary. I don't have any pressing need for it myself. Unless someone comes along and make a compelling case for it, I think we shouldn't bother. After all, **less code=less bugs!**

[2016-06-14 22:08] havardgulldahl commented on #55
The future starts a bit later than `0.5` ;)

[2016-06-14 22:09] cowai commented on #77
Yes, I agree.

[2016-06-14 22:18] havardgulldahl commented on #23
I'm going to let this slide until someone actually wants to implement it.

[2016-06-14 22:19] havardgulldahl commented on #32
This is hard to get right, and I'm going to let it slide.

[2016-06-14 22:20] havardgulldahl commented on #40
Have you had a chance to look at this, @jkaberg ? It would really help, indeed with encfs bugs popping up, like #111

[2016-06-14 22:52] havardgulldahl commented on #74
Unfortunately, it seems they have shut down the old api. The web client is obfuscating the paths, making this a pain to figure out. We should figure out how the client does this now.

@jkaberg, are you up to providing some more logs? *delete+restore* of files and folders, and maybe also *hard_delete*, if that is possible in the client..

[2016-06-14 23:31] #77 closed

[2016-06-15 00:14] #51 closed

[2016-06-15 21:40] havardgulldahl commented on #15
Move to milestone 0.6

[2016-06-16 19:04] havardgulldahl commented on #99
@ttyridal I absolutely get why setting the md5 hash to `None` is really helpful, but what's the advantage of omitting the date?

[2016-06-16 20:23] ttyridal commented on #99
Date must be specified as an argument if the source is not a file. I don't really remember if this is the reason, but typical case would be time.now(). might as well provide that as a default. ie None = mdate if a file, time.now() otherwise.

[2016-06-25 07:50] #85 closed

[2016-06-25 08:52] havardgulldahl commented on #104
Upon closer reading, it's not `setxattr` that's the problem, it seems like it's bombing when trying to resume uploading a `JFSIncompleteFile` with `size==-1` (the default).

So we have to figure out why the incomplete file doesn't have a size to fix this.

[2016-06-25 09:32] #86 closed

[2016-06-25 10:06] havardgulldahl commented on #114
@letasik Hey, please, would you be able to provide the logs? As a gist, perhaps?

[2016-06-25 10:29] havardgulldahl commented on #88
@antonhagg Tell me more about your case and the error you're getting. In my tests, incomplete files *do* have md5 hashes.

I see now that this test is quite naive:

    if hasattr(file_, 'currentRevision'): # a normal file

We should really explicitly test for the file's `state` instead.  Maybe you're encountering corrupt files? What's the value of `state` in those files, do you know?

[2016-06-25 11:39] havardgulldahl commented on #88
@antonhagg Please test the newly commited code in 6c844dd and let me know if it fixes things for you

[2016-06-26 15:56] letasik commented on #114
the only question where those stored are :)

[2016-06-27 15:39] antonhagg commented on #88
I cant remember, but I think the file had no values at all, just the state incomplete. Could this be linked with #104?

[2016-06-27 15:43] antonhagg commented on #88
I have tried to figure this thing out, and latest commit doesn't return any error: 1c41eaabb6e8c74e660b70a58121017328694f2f

[2016-06-30 23:33] havardgulldahl opened #117 "Need a better url escape/quote logic"
convert all legacy uses of naive get urls to pass along `param` `dicts` that carry the payload

[2016-06-30 23:37] havardgulldahl commented on #88
Thank you for your detective work, @antonhagg, as you see I have used some of your logic in 6c844dd. So I'm considering this as fixed.

[2016-06-30 23:37] #88 closed

[2016-07-02 09:03] havardgulldahl commented on #115
A lot of fixes went into 0.5.0. Considering this fixed, reopen if needed

[2016-07-02 09:03] #115 closed

[2016-07-02 09:29] havardgulldahl commented on #114
@letasik Hey, I just pushed 0.5 out the door, with lots of unicode fixes. Could you try that version and let me see how it works for you?

[2016-07-02 13:53] letasik commented on #114
UPDATE.  ver 0.5 if there is a Cyrilic file or folder name system returns "Bad Address"

[2016-07-02 16:36] havardgulldahl commented on #87
Maybe we could try to create a StringIO object and use `objectify.parse(fileobject)`. And then, if we see that the file is really big, we write it to disk, first..

[2016-07-02 17:13] havardgulldahl commented on #114
What's the file name, exactly? Are you able to copy it in here? Or make a screen shot from the official client, perhaps?

[2016-07-02 17:17] havardgulldahl commented on #81
Hey @cowai, what size is the actual file?

I'm guessing this is related to #104, seems like the same thing.

[2016-07-04 13:10] cowai commented on #81
@havardgulldahl I dont remember now, but I guess it would be around 4gb.

[2016-07-05 10:34] antonhagg commented on #87
Sounds like a good idea, won't have time to do anything until August. So if anyone else is up for the job, feel free. =)

[2016-07-06 13:13] antonhagg commented on #114
I have had troble with slovakian letters and file and foldernames with "+" in it before, tried to create files in the testfolder but couldn't.
https://en.wikipedia.org/wiki/Slovak_orthography

[2016-07-06 13:15] antonhagg commented on #103
Not sure if this was fixed in 0.5,  and related to #115. Can't test the new version at the moment.

[2016-07-06 13:19] antonhagg commented on #73
I think I need to rewrite some of the code that was proposed in the version i submitted since there has been quite a lot of changes and fixes since I wrote the code in the first place. Any help is appriciated.

[2016-07-06 13:20] antonhagg commented on #78
I think I need to rewrite some of the code that was proposed in the version i submitted since there has been quite a lot of changes and fixes since I wrote the code in the first place. Any help is appriciated.

[2016-07-06 21:48] xiphias256 opened #118 "jottalibs 0.5.0 is broken? Getting errors when executing commands"
Did install with pip on an Ubuntu 14.04 machine, like this
sudo pip install jottalib[scanner]
I've then exported my username and password to the enviroment variables JOTTACLOUD_USERNAME and JOTTACLOUD_PASSWORD
If I try to run any of the jotta-* commands I get this error
`jotta-scanner
Traceback (most recent call last):
  File "/usr/local/bin/jotta-scanner", line 9, in <module>
    load_entry_point

[2016-07-11 12:50] havardgulldahl commented on #118
Sadly, this seems to be an issue with the version of urllib3 that Ubuntu 14.04 is shipping.

[2016-07-11 12:54] havardgulldahl commented on #118
https://github.com/sigmavirus24/requests-toolbelt/issues/121

[2016-07-11 12:55] havardgulldahl commented on #118
I will need to investigate a bit. Thanks for your report, @xiphias

[2016-07-12 19:16] #81 closed

[2016-07-12 19:18] havardgulldahl commented on #104
Fixed in git HEAD.

[2016-07-12 19:18] #104 closed

[2016-08-01 18:23] sjurtf opened #119 "jotta-download broken (on folders)?"
There seems to be a problem in the latest version here.

Running 0.5.0 on Python 2.7.
sjurtf@home:~$ pip show jottalib
Metadata-Version: 2.0
Name: jottalib
Version: 0.5.0

Here is a stacktrace using loglevel debug.

[2016-08-10 12:54] sjurtf commented on #119
I'll just add that this issue only shows on folders. Downloading files using jotta-download works fine.

[2016-08-15 04:30] rkarlsba opened #120 "JFS - name change?"
JFS is commonly known as the filesystem from IBM, https://en.wikipedia.org/wiki/JFS_(file_system), so perhaps the jotta filesystem should find a better name than JFS, perhaps something like JoFS?

[2016-08-18 16:56] awerner opened #121 "jotta-scanner enters excluded subdirectories"
[code]

I try to do a full backup of one of my vservers with the command: `jotta-scanner / /Jotta/Archive/backup/marty --exclude /proc/ --exclude /dev/ --exclude /sys/ --exclude /run/ --exclude /var/run/ --exclude /var/lib/libvirt/images/`.

What happens is that jotta enters each and every subdirectory before it gets excluded:
[code]
This process is very slow, so the expected behaviour would be to

[2016-08-18 18:26] havardgulldahl commented on #119
Yes, thank you @sjurtf for the report. We have some code in a PR that will fix that. I'll go through the code.

[2016-08-18 18:31] havardgulldahl commented on #121
@awerner Hey, thanks for the report.

Well, I agree, that sounds like an area that could use some more smartness. I guess we could even keep a *default* exclusion list. Who would ever need to backup `/proc` and `/sys`, anyway?

I guess this wouldn't be too much work, tweaking the directory traversing code. Do you want to take a look at it yourself?

[2016-08-18 18:34] havardgulldahl commented on #120
Hey @rkarlsba
I agree that when you hear `JFS` by itself is probably not the JottaCloud File System that first comes to mind.
Nevertheless, that is the abbreviation that the company uses themselves, and we want to stay as close to their code as possible.
So thanks for the thought, but we're sticking with `JFS`.

[2016-08-18 18:34] #120 closed

[2016-08-19 06:59] awerner commented on #121
Might take a little while as I'm currently moving but yeah, will have a look.

[2016-08-19 21:28] havardgulldahl commented on #121
@awerner Great!

[2016-08-20 15:34] eiaro opened #122 "requests has tightened up their api, tripping jotta-scanner when uploading"
[code]

[jottacloudclient.txt](https://github.com/havardgulldahl/jottalib/files/428385/jottacloudclient.txt)

[code]

Jeg har dessverre ikke tid til å sette meg inn i hva som er galt. Håper jeg har gitt nok info til at noen klarer finne ut hva som er galt. :)

[2016-08-22 20:06] havardgulldahl commented on #122
Hey, @eiaro, thanks for the report !
I'll look into it right away

[2016-08-22 20:14] havardgulldahl commented on #122
Got it. `requests` changed underneath our feet: https://github.com/kennethreitz/requests/issues/3477

I'll update our code and cut a new 0.5.1 release asap

[2016-08-22 20:18] havardgulldahl commented on #122
@eiaro and @everyone,
as a workaround, try to downgrade/pin requests to the 2.10 branch.

[2016-08-22 20:20] havardgulldahl commented on #122
... like

    pip install requests==2.10.0

[2016-08-25 15:24] alexschrod commented on #122
Not that I've looked into this very thoroughly, but it seems to me like changing line 1147 in JFS.py from

`                   'JSize': contentlen,`

to

`                   'JSize': str(contentlen),`

should fix this issue.

[2016-08-26 17:19] #122 closed

[2016-08-26 17:20] havardgulldahl commented on #122
@alexschrod yes, you're quite right. thanks!

[2016-08-26 17:21] havardgulldahl commented on #87
@antonhagg I had a go at it, will you please test to see if current code in master works for you now?

[2016-08-26 17:23] havardgulldahl commented on #117
With the changes in 71161f29cc4f95e699f6cd36e6926b7ae6739fef, I consider this case closed

[2016-08-26 17:23] #117 closed

[2016-08-28 14:43] georg90 opened #123 "NotImplementedError using duplicity backend"
I recently moved my server to a new machine. While the backup on my old system is running just fine (jottalib 0.4.2.1, duplicity 7.06, ubuntu14.04) on the new server with jottalib 0.5.1 and duplicity 7.06 (ubuntu 16.04) I'm getting `NotImplementedErrors` when starting a backup.

I compiled duplicity by myself using the backend.py from here https://raw.githubusercontent.com/havardgulldahl/jottalib/

[2016-08-28 19:27] havardgulldahl commented on #123
Hey @georg90, are you able to show us some logs of the error? Is there a backtrace?

[2016-08-28 20:18] georg90 commented on #123
If you can tell me where the log files go? There is no output in syslog..

[2016-08-29 15:25] antonhagg commented on #87
Since "folder download" is not in the 0.5.1 release, I will have to add that first.
Tried a new innstallation of the 0.5.1, but ran into a lot of trouble... will have to sort that out first.

[2016-08-29 15:35] antonhagg opened #124 "AttributeError: 'str' object has no attribute 'decode'"
Tried the new 0.5.1 and got this error:

`jotta-download test.txt
Traceback (most recent call last):
  File "PATH\Python\Python35\Scripts\jotta-download-script.py", line 9, in <module>
    load_entry_point('jottalib==0.5.1', 'console_scripts', 'jotta-download')()
  File "PATH\python\python35\lib\site-packages\jottalib\cli.py", line 275, in download
    args = parse_args_and_apply_logging_level(par

[2016-08-29 15:41] #72 closed

[2016-08-29 15:44] antonhagg commented on #124
Hmm, might be because im running 3.5.2...

[2016-08-29 19:13] #73 closed

[2016-08-29 19:13] #78 closed

[2016-08-29 19:13] #119 closed

[2016-08-29 19:15] havardgulldahl commented on #78
Thanks for your effort on this. I pulled the gist of your code and simplified it a bit. Please reopen if there are any issues

[2016-08-29 19:31] havardgulldahl commented on #98
This is in the current HEAD, bound for 0.6. Please keep testing and reopen this if there are any issues.

[2016-08-29 19:31] #98 closed

[2016-08-29 19:36] havardgulldahl commented on #124
yes, py3 support is still not complete :(
see #55

[2016-08-29 19:38] havardgulldahl commented on #123
We need to see what error message duplicity spits out. Take a screen shot of your terminal with the duplicity message, for instance.

[2016-08-29 19:41] havardgulldahl commented on #123
And run `duplicity` with the option `-v4` to get more info. If that is not enough to show the cause of the `NotImplementedError` error message  use `-v9` to get *everything* from the debug log.

see http://duplicity.nongnu.org/duplicity.1.html

[2016-08-29 21:40] havardgulldahl commented on #47
Fixed in https://github.com/havardgulldahl/jottalib/commit/bd1957cdbd85618fa66708f195fca8611a28ce8c

[2016-08-29 21:40] #47 closed

[2016-08-29 21:50] #91 closed

[2016-08-30 06:33] georg90 commented on #123
[code]

[2016-08-30 15:39] antonhagg opened #125 "Issues with strange file names..."
There are still some issues with character encoding...

`Traceback (most recent call last):
  File "C:\Python27\Scripts\jotta-download-script.py", line 9, in <module>
    load_entry_point('jottalib==0.5.1', 'console_scripts', 'jotta-download')()
  File "c:\python27\lib\site-packages\jottalib\cli.py", line 392, in download
    if not download_jfsfile(remote_file, tofolder=_rel_folder_path, checksum

[2016-08-30 15:42] antonhagg commented on #125
File names are:

<file name="Abdominal trauma Hošala.ppt" uuid="5344daa4-0405-449a-818a-072eef1844a1">
<file name="praktiká 3. ročník.doc" uuid="57529d63-78ed-43c3-b244-12fe0847bee7">
<file name="SPECIAL SURGERY - prednášky 3. ročník.doc" uuid="172d1896-2435-477e-9636-b49a4251bdc0">
<file name="TABUĽKA.docx" uuid="af1bcefe-87df-4cb3-bf43-315e452760e1">

[2016-08-30 16:10] antonhagg opened #126 "Skipped files don't get logged"
Saw an issue with the release folder download that the files that gets skipped dont get logged anywhere.

[2016-08-30 16:56] antonhagg commented on #125
Think it's a problem with the ProgressBar. Quick fix was to rewrite some of the code.
`        with open(topath, 'wb') as fh:
            bytes_read = 0
            puts(colored.white('Downloading: %s, size: %s \t' % (remote_object.name,print_size(total_size, humanize=True))))
            with ProgressBar(expected_size=total_size) as bar:`

[2016-08-30 17:03] antonhagg opened #127 "NameError: global name 'tempfile' is not defined"
Not sure where this error comes from...
[code]

[2016-08-30 21:53] #127 closed

[2016-08-31 18:24] antonhagg opened #128 "Read timed out when downloading big files"
Still having trouble with timeout when downloading big files
[code]

[2016-09-02 21:42] havardgulldahl commented on #114
note to self. Maybe write a really forgiving parsing routine to make sure we never bomb out
https://blog.luminoso.com/2012/08/20/fix-unicode-mistakes-with-python/

[2016-09-03 09:28] georg90 commented on #123
I copied my /usr/local/lib/python2.7/dist-packages/duplicity/ folder from my old machine and now it's syncing.

But this isn't a fix..

[2016-09-03 09:53] havardgulldahl commented on #123
OK. That explains it pretty well. Please upload your old files that work,
along with the version of duplicity that you are running.

Pastebin and gist are good options for where to put the files

lør. 3. sep. 2016 kl. 11.28 skrev georg90 <notifications@github.com>:

[2016-09-03 20:05] Nicd opened #129 "Jottalib gets stuck on FIFO files"
I'm unable to backup my server with jottalib because of FIFO files. Jottalib gets stuck on a FIFO and never resumes, presumably it blocks when reading the FIFO.

Example:

[code]

I think the best would be to simply skip FIFO files.

[2016-09-03 20:50] havardgulldahl commented on #128
Hi @antonhagg - Am I reading it correctly, you've been waiting 31 minutes before timeout?

[2016-09-03 20:50] havardgulldahl commented on #125
thanks, @antonhagg, I'll take a look

[2016-09-03 20:52] havardgulldahl commented on #128
On closer look, it would seem you are running an old install of jottalib here?

[2016-09-03 21:52] #112 closed

[2016-09-03 21:52] #129 closed

[2016-09-03 23:33] havardgulldahl commented on #126
@antonhagg, I'm not sure what you mean, really. I'm looking at the code, and it seems to me that every file that is skipped for some reason, ends up in a log. Would you please be more specific?

[2016-09-03 23:39] #125 closed

[2016-09-05 18:28] havardgulldahl commented on #118
@xiphias256 Could you please try to run

    sudo -H pip install --upgrade requests requests_toolbelt urllib3

[2016-09-05 18:29] havardgulldahl commented on #124
This particular issue has been fixed in the git tree, so closing this.

Note that py3 support is still not complete, please follow #55

[2016-09-05 18:29] #124 closed

[2016-09-05 18:33] havardgulldahl commented on #100
Fixed in git head. Now tests like this pass: https://github.com/havardgulldahl/jottalib/blob/master/tests/test_JFS.py#L125

[2016-09-05 18:33] #100 closed

[2016-09-05 18:34] havardgulldahl commented on #87
@antonhagg The code has not been released yet. Are you able to install from git head? that is, with `git clone`, and not with `pip`?

[2016-09-05 18:35] havardgulldahl commented on #74
@jkaberg ping. If you help me out here, I'll take a look at Fuse+EncFS ;)

[2016-09-05 18:39] havardgulldahl commented on #103
The current tests in `test_JFS.test_urlencoded_filename` now check for `+` signs, and they're passing: https://github.com/havardgulldahl/jottalib/blob/master/tests/test_JFS.py#L189

So I'm considering this fixed, but please reopen if you still have issues here.

[2016-09-05 18:39] #103 closed

[2016-09-05 19:06] jkaberg commented on #74
@havardgulldahl Sure I'll fetch some logs for you, only restore? Missing anything else?

[2016-09-05 20:18] havardgulldahl commented on #74
Great!
I think you maybe have to use the mobile client to find *delete&restore* functionality to capture. I can't see it in the desktop client.

Could you also do

*search+get url*, a.k.a. "share".

That, at least, is possible in the desktop client. Thanks a bunch!

[2016-09-05 20:28] jkaberg commented on #74
The mobile client involves MITM attack, might not be so easy to pull of (requires root with android aswell). I'll have to think about this one, on how best to proceed. 

The desktop client isn't an problem

Mandag, September 05, 2016 22:18 CEST skrev Håvard Gulldahl <notifications@github.com>:
 
Great!
I think you maybe have to use the mobile client to find delete&restore functionality to capture.

[2016-09-05 20:30] thusoy commented on #74
MitMing the mobile client shouldn't be a problem unless they pin their certificates. Have you checked whether they do that?

[2016-09-05 22:36] havardgulldahl commented on #52
https://code.launchpad.net/~havard/duplicity/jottacloudbackend/+merge/304955

[2016-09-05 22:42] havardgulldahl commented on #107
I'm going to close this now, but @antonhagg , maybe we should add some info in the wiki about this? Maybe a *Jottacloud protocol explained* section? Care to give it a try?

[2016-09-05 22:42] #107 closed

[2016-09-06 17:08] havardgulldahl commented on #123
Can you please try with the amended
https://raw.githubusercontent.com/havardgulldahl/jottalib/master/src/duplicity-backend.py

Thanks!

[2016-09-08 17:33] jkaberg commented on #74
So just looked into the desktop part, seem's the context menu options are removed outside of the "Jotta" folder. When hovering the Jottacloud option outside the jotta folder you get nothing, it's just a stub.

[2016-09-19 23:07] sjurtf opened #130 "jotta-download - missing part of relative folder string"
I'm running the latest code from the master branch to test the jotta-download function.

When trying to download a folder inside /Jotta/Archive/ I'm having some issues with the relative path used.

As seen in the below debug log the error occurs between the "DEBUG:root:absolute folder path" and INFO:root:relative folder path".

'https://www.jottacloud.com' is being chopped and becomes 'tacloud.com

[2016-09-20 07:26] havardgulldahl commented on #130
Hey, @sjurtf, thanks for the report.

An obvious bug, I am surprised that the tests didn't catch that.

I know you want to keep the folder name hidden, but could you tell us a bit more about how it is structured? Any special characters?

[2016-09-20 09:55] sjurtf commented on #130
The folder names are generated by encfs. I'm not sure how exactly the encfs algorithm to produce the names are, but I've had no issues with folder names when uploading to Jotta using jotta-upload.

The only special characters I've seen are the more normal ones like ',' and '-'.

[2016-09-20 10:55] havardgulldahl commented on #130
So, would you know of a way to reliably trigger this bug? Outside of your own filesystem, I mean.

[2016-09-20 11:21] sjurtf commented on #130
Tested with a regular named folder called test, in the root of Jotta an the same problem occurs.

[code]

[2016-09-21 15:57] sjurtf commented on #130
I just fired up a clean ubuntu live usb and installed newest code from github using +git as source for pip. Used the jottalib source code as example filesystem structure.
The same bug with relative path being cut of is there.

[code]

[2016-09-21 21:38] sjurtf opened #132 "jotta-download not downloading 0 byte files"
While working on issue #130 I discovered that jotta-download does not respect files that are 0 bytes.

When I was testing my fix for #130 I used the jottalib source code. I uploaded it with jotta-scanner, and downloading it again with jotta-download. After diffing the folders one file was missing.

The file src/jottalib/contrib/**init**.py (0 bytes) was not downloaded.
Another file named **init**.

[2016-09-21 21:45] antonhagg commented on #132
I had some trouble with zero files so I decided to exclude them and put them in a debug file( see code in the end). Before, corrupted file was hardcoded as zero size to indicate a corrupt file. I think there has been modifications to JFS to fix this issue but I'm not sure.

[2016-09-21 21:49] sjurtf commented on #132
The current code prints an error message.
'<filename> was NOT downloaded successfully - zero file'

The design of download now does not support files with zero size.
When discovered the error message above is printed and the name is added to a list called zero_files. When jotta-download exits the number of zero byte files are printed.

[2016-09-21 21:53] sjurtf commented on #132
Ok @antonhagg, so Jotta is treating corrupted files as 0 bytes in their filesystem?
So we can't know if the file is a real zero byte file or a corrupted file?

[2016-09-21 21:56] antonhagg commented on #132
Sorry, not corrupted. Incomplete... look in the initial in JFS....

[2016-09-21 21:56] antonhagg commented on #132
--init--

[2016-09-27 16:04] havardgulldahl commented on #132
@sjurtf @antonhagg this is an obvious bug.
There are no problems in detecting corrupt or incomplete files, they are instances of `JFSIncompleteFile` and `JFSCorrupFile`.

[2016-10-11 20:53] whoney opened #133 "jotta-scanner breaks on Arch Linux"
When trying to sync anything with jotta-scanner, it produces the following exception (regardless of supplied directory names):

[code]

where XXXXX stands for my user name. At the same time, jotta-ls, jotta-upload and jotta-download are working normally.

My system is up to date with current Arch Linux upstream repositories.

[code]

Is there anything I can do to help resolve the issue?

[2016-10-13 19:49] xiphias256 commented on #118
Sorry for the long delay. I've upgraded to 16.04 since I reported the issue. It now works (mostly). jotta-scanner is throwing errors, but that is not related to this issue.

[2016-10-20 14:54] kaistian commented on #111
What is the reason for this error?
I have uploaded several thousand encfs files without a problem, is this something I should expect might happen?

[2016-10-20 16:43] sjurtf commented on #111
I've also uploaded a huge number of encfs files on both linux and os x with no issues.
From the description it seems that @georg90 is not able to upload any encfs files?

Are you still experiencing problems with this @georg90 ?

[2016-10-20 16:50] sjurtf commented on #133
I believe you are calling jotta-scanner wrong.

You need to specify where in the jfs you wan't to store the file/folder named 'sm'.
For instance:
`jotta-scanner sm /Jotta/Sync`

This will upload the file/folder 'sm' to your Sync directory.

[2016-10-20 17:51] whoney commented on #133
Yes, that worked, thank you! My fault indeed, sorry for being too lazy to read the docs thoroughly.

[2016-10-20 17:51] #133 closed, assigned to nobody

[2016-11-09 09:21] georg90 commented on #123
Hi!
 For a couple days now Jottalib + Duplicity doesn't work anymore. I get an

[code]

I used the file you provided above, doesn't change. Still using the same versions of duplicity & duply + ubuntu 16.04

[2016-11-19 14:11] georg90 commented on #123
Error rising when using the backend:

[code]

[2016-11-19 14:55] georg90 commented on #123
Found the issue:

Duplicity is looking in the `/usr/lib` path, but if you compile duplicity manually, it adds the compiled files to `/usr/local/lib`..

A simple

[code]

fixes this.

How can this be avoided?

[2016-12-20 15:32] Cubox opened #134 "jotta-ls AttributeError"
Hi,

[code]

and

[code]

I also have:

[code]

Using FreeBSD with Python 2.7.12

If you need more information, or logs, tell me where to find them and I will send them to you.

Thanks for the lib (awesome lib, the fuse function works flawlessly) !

[2016-12-20 16:47] Foxboron opened #135 "debug logs contains Authorization header"
Having a problem and the debug logs i want to submit contains an Authorization header. This is not a good idea.

Wouldn't it be a better idea to maybe remove the authorization header from the logs? or throw them into an own level beside debug?

[2016-12-20 16:50] Foxboron opened #136 "jotta-scanner doesn't upload files. Complain about incomplete files."
Hello!

jotta-scanner does not upload my files. After the initial upload, nothing shows up in jotta, and the scanner reports no errors. When i do a second scan, the debug logs says the file is incompletely uploaded.

Directory structure
[code]

Section of relevant logs:
[code]

[2016-12-20 18:39] Foxboron commented on #136
Local error from the package file i wrote :/

[2016-12-20 18:39] #136 closed, assigned to nobody

[2016-12-20 23:47] Foxboron opened #137 "New requests version breaks jottalib"
Something with this current release of requests breaks jottalib. It's silent and doesn't tell you anything is broken. Driven me insane for 2 days now.
https://github.com/kennethreitz/requests/commit/1285f576ae0a848de27af10d917c19b60940d1fa

requests version 2.9.1 works with jottalib version 0.5.1 atleast.

[2016-12-21 14:11] Foxboron commented on #137
After some more digging. It breaks between 2.12.0 and 2.12.1.
Not sure why it broke.
https://github.com/kennethreitz/requests/commit/c2688bbf27874a84a82873cb3cb2cc300a175818

[2017-01-05 13:45] EigilSletbak opened #138 "jotta-scanner fail to upload file"
**PC folder content:**
eisl@EISL01 ~ $ ls -l /home/eisl/Documents
total 8
drwx------ 2 eisl eisl 4096 Sep 22 11:32 NoMachine
-rw-r--r-- 1 eisl eisl   34 Jan  4 13:52 Test.txt

**Run jotta-scanner**
eisl@EISL01 ~ $ jotta-scanner /home/eisl/Documents /Jotta/Archive/EISL01
Entering dir: /home/eisl/Documents
uploading 1 new files: [●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●] 1/1 - 00:00:01
Network upload speed

[2017-01-06 02:51] sencer commented on #138
Same here.

`Linux Sencer 4.4.0-57-generic #78-Ubuntu SMP Fri Dec 9 23:50:32 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux`

[2017-01-09 06:57] sjurtf commented on #138
What version of requests are you using?

It was recently descovered in #137 that newer versions of requests is breaking jottalib. The issue here looks like what was happening in #137.

[2017-01-09 13:47] EigilSletbak commented on #138
Seems to be relevant, this is my requests info:

eisl@EISL01 ~ $ pip show requests
Name: requests
Version: 2.12.4
Summary: Python HTTP for Humans.
Home-page: http://python-requests.org
Author: Kenneth Reitz
Author-email: me@kennethreitz.com
License: Apache 2.0
Location: /usr/local/lib/python2.7/dist-packages

[2017-01-09 13:59] sjurtf commented on #138
If you downgrade to requests 2.12.0 it should work again.

[2017-01-09 14:39] EigilSletbak commented on #138
Still fail with requests 2.12.0

eisl@EISL01 ~ $ pip show requests
Name: requests
Version: 2.12.0
Summary: Python HTTP for Humans.
Home-page: http://python-requests.org
Author: Kenneth Reitz
Author-email: me@kennethreitz.com
License: Apache 2.0
Location: /usr/local/lib/python2.7/dist-packages
Requires:

eisl@EISL01 ~ $ ls -l /home/eisl/Documents
total 8
drwx------ 2 eisl eisl 4096 Sep 22 11:32 NoM

[2017-01-09 15:35] sencer commented on #138
I also tried downgrading `requests` to `2.9.1`, but it didn't work.

[2017-01-22 12:24] fholmer commented on #138
I have same issue too. jotta-upload and jotta-fuse is also affected. I inspected the files status reported by jotta api and all uploaded files have `incomplete` status. I also compared the md5sum reported by jotta API and it matches md5sum of local files. So content is uploaded but file is still incomplete. It is not possible to list, download, delete og restore these files.

[2017-01-27 06:42] paaland commented on #138
I too have this problem. Seems the files are there somewhere (lost in space), because running jotta-scanner multiple times it starts to compare existing files. So somehow jotta-scanner finds the previously uploaded files, but https://www.jottacloud.com does not. The folder structure gets created, but no files are visible on the web site.
[code]

[2017-02-04 09:26] ghost commented on #138
I have the same problem too:
$ pip show requests
Name: requests
Version: 2.13.0
Summary: Python HTTP for Humans.
Home-page: http://python-requests.org
Author: Kenneth Reitz
Author-email: me@kennethreitz.com
License: Apache 2.0
Location: /docker-data/_backup/pip/docker_backup/lib/python2.7/site-packages
Requires:

[2017-02-04 13:47] sjurtf commented on #138
We have found that at least these versions and combinations of libs are working together with jottalib. We have not had time to update one and one an check which is breaking it yet.

[code]

[2017-02-07 21:27] ghost commented on #138
I tried using the versions listed above, but no luck. I have some other additional packages installed, not sure if that should make any difference:
appdirs (1.4.0)
args (0.1.0)
backports.ssl-match-hostname (3.5.0.1)
certifi (2016.2.28)
cffi (1.9.1)
chardet (2.3.0)
clint (0.5.1)
docker (2.0.2)
docker-pycreds (0.2.1)
humanize (0.5.1)
ipaddress (1.0.18)
jottalib (0.5.1)
lxml (3.7.2)
packaging (16.8)

[2017-02-08 15:30] sjurtf commented on #138
Try downgrading to requests 2.10.0.
You can also try using my fork - it should not really matter with this issue tho.
But Im using that one.

`pip install git+https://github.com/sjurtf/jottalib.git`

[2017-02-10 19:39] ghost commented on #138
Ok. I have now tested a bit more.
Downgrading worked. Yay!
I only have requests==2.10.0 in requirements to make upload work again. Thanks everybody!

[2017-02-15 21:11] EldarAron opened #139 "Scanner - install errors xattr - Ubuntu 16.10"
Hello

Setting up a new server. Ubuntu 16.10.

When installing jottalib scanner I get an error. The setup script exits:
`Setup script exited with error: command 'x86_64-linux-gnu-gcc' failed with exit status 1`

This is the full log of installing xattr:
[code]
Do you know what is happening? I think I have all dependencies.

[2017-03-07 05:38] kxzl commented on #139
Had the same problem. Installing cffi and updating pydev did it for me:

sudo apt-get install python-cffi python-dev

[2017-05-21 18:12] jinnatar opened #140 "Project alive?"
Consider this your heartbeat ping. Everything still fine? No new commits for the past 5 months so want to know where we stand before I sink any money into Jottacloud. The tools seem to mostly work right now but considering the unresponsiveness of Jottacloud that may change at any given moment.

[2017-05-27 14:23] novaflash commented on #140
+1, are you alive?

[2017-06-25 16:35] apetrynet opened #141 "Valid path to backup that can be viewed in the web app"
Hi!

Is it possible to create a path that will show under the Backup tab in the web app? I'm able to do so under Archive.

Thanks!
-Daniel

[2017-07-08 09:48] j0achim opened #142 "jotta-fuse cannot read/write to cloud."
When I try create a file the file can been seen locally but does not actually exist in cloud, any command given returns "Bad Address".

eg:

[code]

debug output:

[code]

[2017-07-09 14:39] j0achim commented on #142
Appear's that the fuse functionalit is best used when reading and **not** for writing, if I create file locally upload it with scanner, then output is identical to testcase.

[2017-07-09 14:39] #142 closed, assigned to nobody

[2017-07-24 16:48] andersolav opened #144 "Scanning and comparing files in Jotta folders is slow"
I experienced a very slow comparing of files. I have a backup comparing approx. 50.000 files (with jotta-scanner) that used approx. for 4-5 hours to finish. With a proposed changed the same backup took half an hour.

I found that the compare functions makes a request to Jotta for each file. I have suggestion (code) that that reads the files for one whole folder at a time. This should be Ok also co

[2017-08-23 06:17] ccdanieldb opened #146 "Login .netrc not found"
I think I have it all installed correctly but when I try to upload a file I get the below error.  As you can see I am using the .netrc.  I created the file with nano and have it in the proper format as per the intro start page.

machine jottacloud.com
  login **yourusername**
  password **yourpassword**

I am sure I am doing something wrong but I do not know what it is.

daniel@debian:~$ sudo jott

[2017-08-31 10:46] Fjodor42 opened #148 "Suggestion: fork"
Hi @havardgulldahl,

Having recently opened an account with Jotta, I have been looking into some changes and fixes, as you might have noticed.

I shall be more than happy to continue contributing to this repo, but if, as some have suggested, your interest in this project has waned, I would like to know if you would mind if I continue development in my own repo, also adding my own name (with proper

[2017-08-31 18:36] sirasjad opened #149 "Which fork should I pick?"
There are so many different forks, which one should I use? The official repo by havardgulldahl hasn't been updated for over a year, while Fjodor42's repo was updated 20 hours ago. Is his repo stable? Thanks in advance.

[2017-08-31 20:00] sirasjad commented on #148
@Fjodor42 Bring the project back to life, please! I hate using Jottacloud with Wine, I'm desperate!

[2017-09-01 07:10] Fjodor42 commented on #149
Hi @sirajuddin97,

You are more than welcome to clone from mine, but, obviously, I would be wary of giving any guaranties in any legal sense.

What I will say, though, is that @havardgulldahl|s code seemed to work fine for me, with the caveat that the 'requests' library had to be below a certain version, which was the first change I attempted (and with which I seemed to succeed).

I did note some

[2017-09-01 07:11] Fjodor42 commented on #148
@sirajuddin97 Noted, and thank you for your show of confidence, but please see my longer reply at #149.

[2017-09-01 23:34] sirasjad commented on #149
I'm willing to help you continue this project, @Fjodor42, as I have been focusing a lot on Python development lately. I have tried to contact @havardgulldahl as well, sent him an email but I can't seem to get in touch with him. I don't think he's coming back anytime soon.

My suggesion is that you copy all your files to a brand new official repo (call it _jottalib v2_ or something), give @havardgu

[2017-09-05 20:19] Fjodor42 commented on #148
https://github.com/Fjodor42/jottalib-ng/

[2017-09-05 20:19] #148 closed, assigned to nobody

[2017-09-05 20:22] Fjodor42 commented on #149
@sirajuddin97: You are now invited on as a collaborator on https://github.com/Fjodor42/jottalib-ng

You, and everyone else, are welcome to look at the first few issues I created, and open new ones

[2017-09-05 22:36] sirasjad commented on #149
Let's get the party started then!

[2017-09-05 22:36] #149 closed, assigned to nobody

[2017-09-19 11:31] simonmikkelsen commented on #140
@havardgulldahl have made commits to github just this July, so he is alive, but I will dare to guess that he does not have the time he once had. Perhaps it would be better if someone forked the repo and announced an attempt to maintain the project? Even better in collaboration with havardgulldahl himself.

[2017-09-28 18:10] endre84 opened #150 "UnicodeEncodeError"
[code]

[2017-11-06 11:45] ghost commented on #146
You should be able to run jotta-scanner as a normal user (without sudo). Currently it's looking for the .netrc file from /root/ instead of /home/daniel/ .

[2017-11-06 12:56] Fjodor42 commented on #146
`sudo` might actually look in user *`daniel`'s home folder, but as far as I can see, `netrc` (and not `.netrc` - notice the dot) is actually located in `/home/`, not in `/home/daniel/` as it should be.

@rhoeden is absolutely correct that the user `daniel` should be able to run the commands, but as said, `/home/netrc` should be `/home/daniel/.netrc`

[2017-12-06 10:32] toanhoang commented on #140
Is this the continuation of the project? https://github.com/Fjodor42/jottalib-ng

[2017-12-06 15:33] Fjodor42 commented on #140
@toanhoang It is intended to be, yes, although I haven't touched it for some time.

There are some nits to be worked out, but at the time of last commit, it was up-to-date with the libs it depends on, as opposed to this one.

[2017-12-06 21:07] toanhoang commented on #140
@Fjodor42 ok, maybe we should follow the suggestions above? Maybe we could somehow collaborate with @havardgulldahl so that we have one jottalib to rule them all

[2017-12-07 06:44] Fjodor42 commented on #140
Well, I did attempt to reach out to @havardgulldahl in a number of ways, but I never got any answers.

Hence the hard fork.

[2018-01-01 15:39] rix1337 opened #151 "Jotta-Download unable to download whole sync-Directory"
I have tried to recreate the Windows-Sync experience as advertised in this project.

What I want: direct jottalib to some folder where it will download everything from jottacloud.com and download/upload on file changes. This behaviour can be seen when using the official Windows client and is comparable to Googles "Backup and Sync" or the "Dropbox" client.

jotta-scanner only uploads stuff to a spe

[2018-01-07 13:34] EldarAron opened #152 "Problems uploading files"
Hello

I just set up and ran jotta-scanner for the first time and got the fowwlonig error in the logfile:
[code]
The files are on an extra internal HDD mounted as /media/Media
All files and folders are owned by my user/group.

I get the same error over and over for every file. I know the login info is correct because it creates the folder structure in my JottaCloud account.

[2018-01-17 15:16] jnylen commented on #152
@EldarAron try using the new jotta-cli
http://docs.jottacloud.com/jottacloud-command-line-tool

[2018-01-28 21:36] georg90 commented on #152
This one works for me: https://github.com/Fjodor42/jottalib-ng

Hopefully the CLI will be extended soon.

[2018-02-03 10:26] abreisj opened #153 "Raspberry pi"
Has anyone used raspberry pi for this program?

[2018-02-26 20:15] RomeSilvanus opened #154 "Allow using the FUSE option 'allow_other' so other user and programs running as another user can acces the mount."
As the title stated. I didn't find a way to enable it so I guess it doesn't exist at the moment.

[2018-02-28 10:57] EldarAron commented on #152
The jotta-cli worked for me. Thanks @jnylen !

[2018-02-28 10:57] #152 closed, assigned to nobody

[2018-04-08 15:00] frrei commented on #154
It don't exist at the moment. It is easy to add. In the file cli.py at the end of function fuse is the call to FUSE. I simply add "allow_other=True".

But the correct way is to add argument that control allow_other.

[2018-07-04 15:00] #93 closed

[2018-07-04 15:00] #94 closed

[2018-07-04 15:00] #95 closed

[2018-07-04 15:00] #97 closed

[2018-09-08 19:24] eleaner opened #155 "mkdir: cannot create directory 'xxxx'’: Bad address"
Hi

it's a problem with jotta-fuse
It happens every time in the following sequence of operations
mkdir xxxx
rmdir xxxx
mkdir xxxx

[2019-05-24 07:39] l0b0 opened #156 "jotta-scanner uploads only directories, not files"
I just created an account and started the client, but it takes absolutely forever to go through files, and after it reports having successfully uploaded multiple files from a directory the web site still reports that directory as empty. Is this project still compatible with Jottacloud?

[2020-02-08 15:46] Antwelm opened #157 "Is this still working ?"
(please be kind, I don't understand much of this)
(PS: I´m on MacOS using jotta´s white label Get Sky)

I'm getting this syntax error when I try to mount:
--
mbp$ pip3 show fusepy
Name: fusepy
Version: 3.0.1
Summary: Simple ctypes bindings for FUSE
Home-page: http://github.com/fusepy/fusepy
Author: Giorgos Verigakis
Author-email: verigak@gmail.com
License: ISC
Location: /Library/Frameworks/Python.

[2020-02-13 07:54] sjurtf commented on #157
No, at least not for GetSky customers. Use rclone (rclone.org) instead.

[2020-02-13 09:18] ingardm commented on #157
Why not use the official client : https://docs.jottacloud.com/en/collections/178055-jottacloud-command-line-tool ?

[2020-02-14 19:30] Antwelm commented on #157
I wasn't able to get that doing what I wanted (mounting locally), that's why I started trying jottalib. Will try the jottacloudCLI now, hopefully works for GetSky.

[2020-02-14 20:01] Antwelm commented on #157
Thanks, didn't know about that one. Got it and managed to login. But, I don't see any way of mounting stuff locally, which is what I want..

[2021-04-20 22:43] #135 closed, assigned to nobody

[2021-04-20 22:44] #137 closed, assigned to nobody